/*----------- Main structure -----------*/
.header{
    background-color:#2872b2;
   
    left:0;
    top:0;
    width:100%;

    font-family:"Euphemia UCAS";
    font-weight: bolder;
    font-size: 2.5rem;
    color:white;
    text-align:center;
    padding: 10px 100px;
    position: relative;

}




.main_container{
  padding:10px;

}





.footer{
  background-color:#c4c4c4;
  position:relative;
  left:0;
  bottom:0;
  width:100%;
  overflow:hidden;

  margin-top:0px;

  padding: 10px 200px;
}


.footer_links:hover{
  color:white;
  cursor: pointer;
}


.healthassessment{
  background-color:#f5f6f9;
  border-radius: 25px;
  margin:2rem;
  height: 40rem;
  padding:1rem;
}

.HATitle{
  color:#2c70b2;
  font-size:1.2rem;
  font-weight:bolder;
  font-family:"Euphemia UCAS";
}

.HAbold{
  font-weight:bolder;
}
.HAcontent{
  color:black;
  font-size:0.9rem;
  font-family:"Euphemia UCAS";
}

.HAspace{
  margin:0.2rem;
  margin-bottom:0.4rem;
}
/* -----------Loading -----------*/

.loading{
  margin-left:150px;
  width:150px;
  height:500px;
  position: relative;
}

.loading_msg{
  padding:10px;
  text-align:center;
  font-size:10px;
}


.windrose{
 /*margin-right:-50px;*/
 position:relative;
 width:20rem;
 height:20rem;
 /*top:-10px;*/
}


::ng-deep .windrose .plot-container .main-svg{
  background:transparent !important;
}

.test{
  position:relative;
}


.guidance{
  font-size:12px;
}

.zindex{
  z-index:10px;
  position: relative;
}




.zindex_select{
  z-index:20px;
  position: relative;
  top:15px;
}

/* -----------Quick Facts and headers -----------*/
.stat_shift{
  padding-left:50px;
}
.statsblock{
    background-color:#c4c4c4;  
    margin-top:0px;
  
    padding: 10px 15px;
    padding-top:10px;
  }
  
  .SB_1{
    font-family:"Euphemia UCAS";
    /*font-weight: bolder;*/
    font-size: 1.8rem;
  }
  
  .SB_2{
    font-family:"Euphemia UCAS";
    font-weight: bolder;
    font-size: 2rem;
    text-transform: capitalize;
  }

  .SB_3{
    font-family:"Euphemia UCAS";
    font-weight: bolder;
    font-size: 1rem;
  }
  
  


::ng-deep .modebar {
  display: none !important;
  }



/* Navigation bar -- Tabs */
.nav_bar{
  margin-left:20%;
}


ML CSS JSResult
EDIT ON


.tabrow {
  text-align: center;
  list-style: none;
  margin: 200px 0 20px;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
  

}

.tabrow li {
  border: 2px solid #2872b2;
  background:#8abeec;
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 12px;
  padding: 0 30px;

  color: white;
  font-family:"Euphemia UCAS";
  font-weight: bold;
  font-size: 1.2rem;
  cursor:pointer;
}

.tabrow a {
  color: #2872b2;
  text-decoration: none;
}

.tabrow li.selected {
  background: #2872b2;
  color:white;
  z-index: 2;
  border-top-color:#2872b2;
}

.tabrow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #2872b2;
  z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
  border: 1px solid #2872b2;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tabrow li:before {
  left: -8px;
  top:-3px;
  border-top-right-radius: 10px;
  border-width: 1px 0px 0px 0px;
  box-shadow: 2.3px 0px 0 #2872b2;
  
}

.tabrow li:after {
  right: -7.6px;
  top:-3.2px;
  border-top-left-radius: 10px;
  border-width: 1px 0px 0px 0px;
  box-shadow: -2.3px 0px 0 #2872b2;
}

.tabrow li.selected:before {
  box-shadow: 2px 0px 0 #2872b2;
}

.tabrow li.selected:after {
  box-shadow: -2px 0px 0 #2872b2;
}





/* -----------Risk Factor Plots -----------*/

.risklegend{
  font-size: 12px;
  vertical-align:center;
}



.factors_container{
 /* border:solid 1px black;*/
  padding:10px;
  margin:10px;
  margin-top:20px;
  margin-left:0px;
  min-height:85%;
  background:white;
  z-index:10;
}


.risk_shift{
  position:inline;

}


.risk_button{
  cursor:pointer;
  width:100%;
  margin:5px;
}


/*----------- Map -----------*/
.risk_map{
  height:50vh;
  width: 55vh;
  /*margin-left:3rem;*/
  }


::ng-deep .info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }
  .info h4 {
  margin: 0 0 5px;
  color: #777;
  }






  /*----------- Buttons -----------*/
  .main_button{

    color: white;
    /*margin-top:1.2rem;*/
    width: 100%;
    display: inline-block;
    border-radius:8px;
    padding:0.8px;
    cursor:pointer;

    list-style: none;

}

.button_blue {
    background-color: #2872b2;
    width: 100%;
    font-family:"Euphemia UCAS";
    font-weight: bold;
    font-size: 0.5rem;
    text-align:center;
}
.button_blue:hover{
  background-color:#033554;
}
.button_blue_selected{
  background-color:#033554;
  /*width: 17rem;*/
  /*margin-top:1.2rem;*/
}

hr.new1 {
  border-top: 2px solid black;
  width:50px;
  float:right;
  margin-right:-40px;
  z-index:-10;
}


select{
  width:100%;
  font-family:"Euphemia UCAS";
  font-weight: bold;
  font-size: 1.2rem;
  text-align:center;
  border: solid 2px #dfe1e9;
  background-color: #dfe1e9;
  border-radius:10px;
  padding:5px;
  }
  




  .instructions{
    border: 1px solid #2872b2;
    background-color: #ffdb76;
    font-size: 0.8rem;
    font-family:"Euphemia UCAS";
    text-align:center;
    border-radius: 9px;
    width: 17rem;
    display: inline-block;
  }



  .covid_plot{
    width: 100%;
  }




  /*----Tasks----*/
  .task_container {
    width: 25%;
    height: 100px;
    position: absolute;
    background-color:#eeedeb;
    color: black;

    top: 1rem;
    left: 1rem;
    font-size: 0.8rem;
    text-align: left;
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    z-index:10;
  
  }

  .black_out{
    background-color:rgba(0, 0, 0, 0.548);
    z-index:8;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .task_start{
    width:25%;
    background-color:rgb(104, 245, 104);
    border-radius: 5px;
    margin-top:5px;
    border: 1px solid black;
    text-align:center;
    cursor: pointer;
  }


  .task_stop{
    width:35%;
    background-color:rgb(245, 189, 104);
    border-radius: 5px;
    margin-top:5px;
    border: 1px solid black;
    text-align:center;
    cursor: pointer;
  }

  .survey_start{
    width:45%;
    background-color:rgb(241, 98, 98);
    border-radius: 5px;
    margin-top:5px;
    border: 1px solid black;
    text-align:center;
    cursor: pointer;
  }


  