<div class='black_out' *ngIf='black_out'></div>

<div class='header'>
Geo-Context and COVID-19 in Missouri


    <div class='task_container'  *ngIf='this.evaluation'>

        <div *ngIf='this.task1'>
            Task 1/6:<br>
            Visualize smoking prevalence factor in the Susceptibility category on the Map.
        </div>
        <div class='task_start' *ngIf='this.task1_start' (click)='start_task1("CT01")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task1_stop' (click)='stop_task1("CT01")'>
            Complete Task
        </div>


        <div *ngIf='this.task2'>
            Task 2/6:<br>
            Find the percent of population without bandwidth in Boone county.
        </div>
        <div class='task_start' *ngIf='this.task2_start' (click)='start_task2("CT02")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task2_stop' (click)='stop_task2("CT02")'>
            Complete Task
        </div>

        <div *ngIf='this.task3'>
            Task 3/6:<br>
            What is the mean time travel to work in 60 min in Missouri?
        </div>
        <div class='task_start' *ngIf='this.task3_start' (click)='start_task3("CT03")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task3_stop' (click)='stop_task3("CT03")'>
            Complete Task
        </div>

        <div *ngIf='this.task4'>
            Task 4/6:<br>
            Locate the total Susceptibility risk value for Lincoln county. 
        </div>
        <div class='task_start' *ngIf='this.task4_start' (click)='start_task4("CT04")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task4_stop' (click)='stop_task4("CT04")'>
            Complete Task
        </div>


        <div *ngIf='this.task5'>
            Task 5/6:<br>
            Locate Benton county’s total weekly Covid cases the week of Jan 04, 2021?
        </div>
        <div class='task_start' *ngIf='this.task5_start' (click)='start_task5("CT05")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task5_stop' (click)='stop_task5("CT05")'>
            Complete Task
        </div>



        <div *ngIf='this.task6'>
            Task 6/6:<br>
            Find the total risk value for Andrew County.
        </div>
        <br>
        <div class='task_start' *ngIf='this.task6_start' (click)='start_task6("CT06")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task6_stop' (click)='stop_task6("CT06")'>
            Complete Task
        </div>



        <div *ngIf='this.exploration'>
          Open Exploration:<br>
        Take a few minutes to explore the dashboard.
        </div>
        <div class='task_start' *ngIf='this.exploration_start' (click)='start_exploration("CT_EX")'>
            Explore 
        </div>
        <div class='task_stop' *ngIf='this.exploration_stop' (click)='stop_exploration("CT_EX")'>
            Stop Explore
        </div>

        <div *ngIf='this.survey'>
            You have completed the task analysis for the counties dashboard.
            <div class='survey_start' (click)='startSurvey()'>
                Start Counties Survey
            </div>
        </div>



    </div>




</div>

<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/categories" routerLinkActive="active" > Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" class="selected"> Counties</li>
        <li routerLink="/datasources" routerLinkActive="active" > Data Sources</li>
        <li routerLink="/howtouse" routerLinkActive="active" > How to use</li>
    </ul> 
</div>  


<div class='main_container'>

    <!-- <div class='statsblock'>
        <div class='columns'>
            <div class='column is-3'>
                <select id="county drop down" [ngModel]="selectcntyfip" name="county"(change)="getCountyData($event)" >
                    <option *ngFor='let county of counties' value={{county.cnty_fips}} >{{county.cnty_name}} County</option>

                </select>
                <br>
                    <span class='SB_2'>Quick Facts</span>
            </div>
            <div class='column'>
                <div class='stat_shift' (click)='getClickEvent("countypop_statsbarclick")'>
                    <span class='SB_1'>{{county_pop}}</span>
                    <br>
                    Population
                </div>
             
            </div>
            <div class='column'>
                <div class='stat_shift' (click)='getClickEvent("county65_statsbarclick")'>
                    <span class='SB_1'>{{county_65}}</span>
                    <br>
                    People aged 65+
                </div>
            </div>
            <div class='column'>
                <div class='stat_shift' (click)='getClickEvent("countycovcase_statsbarclick")'>
                    <span class='SB_1'>{{county_cov_case}}</span>
                    <br>
                    Cases Total
                </div>
            </div>
            <div class='column'>
                <div class='stat_shift' (click)='getClickEvent("countycovdeaths_statsbarclick")'>
                    <span class='SB_1'>{{county_cov_deaths}}</span>
                    <br>
                    Deaths Total
                </div>
            </div>
            <div class='column'>
                <div class='stat_shift' (click)='getClickEvent("countytotrisk_statsbarclick")'>
                    <span class='SB_1'>{{county_total_risk}}</span>
                    <br>
                    Risk Total
                </div>
            </div>
        </div>
    </div> -->
    
    <div class='columns'>
        <div class='column'>
            <div class='columns'>
                <div class='column'>

                    <div class='healthassessment'>
                        <div class='HATitle'>Risk Assessment:</div> 
                        <!-- <div class='HATitle'>
                            <span class='HAcontent'><span class='HAbold HAblue'>Select a </span></span>
                            County:
                        </div> -->
                        <select id="county drop down" [ngModel]="selectcntyfip" name="county"(change)="getCountyData($event)" >
                            <option *ngFor='let county of counties' value={{county.cnty_fips}} >{{county.cnty_name}} County</option> 
                        </select>

                        <div class='HAspace'>
                            <span class='HAcontent'><span class='HAbold'>Population:&nbsp;</span>{{county_pop}}</span>
                            <br>
                            <span class='HAcontent'><span class='HAbold'>People aged 65+:&nbsp;</span>{{county_65}}</span>
                            <br>
                            <span class='HAcontent'><span class='HAbold'>Total COVID-19 Cases:&nbsp;</span>{{county_cov_case}}</span>
                            <br>
                            <span class='HAcontent'><span class='HAbold'>Total COVID-19 Deaths:&nbsp;</span>{{county_cov_deaths}}</span>
                        </div>
                        
                        <div *ngIf="current_risk_factor=='susceptibility'">
                            <span class='HAbold'>
                                {{county_name}} County's {{current_risk_factor}} risk score: 
                                <span class='HAblue'>{{county_susceptibility}}</span>
                            </span>
                        </div>

                        <div *ngIf="current_risk_factor=='accessibility'">
                            <span class='HAbold'>
                                {{county_name}} County's {{current_risk_factor}} risk score:
                                <span class='HAblue'>{{county_accessibility}}</span>
                            </span>
                        </div>

                        <div *ngIf="current_risk_factor=='transmission'">
                            <span class='HAbold'>
                                {{county_name}} County's {{current_risk_factor}} risk score:
                                <span class='HAblue'>{{county_transmission}} </span>
                            </span>
                        </div>
                
                        <div *ngIf="current_risk_factor=='healthresources'">
                            <span class='HAbold'>
                                {{county_name}} County's {{current_risk_factor}} risk score:
                                <span class='HAblue'>{{county_healthresources}} </span>
                            </span>
                        </div>

                        <div *ngIf="current_risk_factor=='socioeconomic'">
                            <span class='HAbold'>
                                {{county_name}} County's {{current_risk_factor}} risk score:
                                <span class='HAblue'>{{county_socioeconomic}} </span>
                            </span>
                        </div>
                        
                        
                        <div *ngIf="current_risk_factor=='exposure'">
                            <span class='HAbold'>
                                {{county_name}} County's {{current_risk_factor}} risk score:
 
                                <span class='HAblue'>{{county_exposure}} </span>
                            </span>
                        </div>
                        <span class='HAbold'>{{county_name}} County's Total Risk Score:&nbsp;</span>
                        <span class='HAbold HAblue'>{{county_total_risk_all}}</span><br><br>
                       <span class='HAblue'>% of MAX Risk Category Risk Score</span> 
                        <div class='windrose' (click)='getClickEvent("windroseclick")'>
                            <plotly-plot [data]="windrose.data" [layout]="windrose.data.layout"></plotly-plot>
                        </div>    

<!-- 
                        <div class='HATitle'>
                            <span class='HAcontent'><span class='HAbold HAblue'>Select a </span></span>
                            Risk Category:
                        </div> 


                        <select  name="riskcategory"(change)="getFactorsData($event)" >
                            <option value='susceptibility' >Susceptibility</option> 
                            <option value='transmission' >Transmission</option> 
                            <option value='exposure' >Exposure</option> 
                            <option value='healthresources' >Health Resources</option> 
                            <option value='socioeconomic' >Socioeconomic</option> 
                            <option value='accessibility' >Accessibility</option> 
                        </select>
                        <div class='HAspace'>

                            <div *ngIf="current_risk_factor=='susceptibility'">
                                <span class='HAcontent'>
                                    How susceptible an individual in a county might be to COVID-19. The inclusion of known and possible co-morbidities and age breaks were assessed.
                                </span>
                            </div>
                            <div *ngIf="current_risk_factor=='transmission'">
                                <span class='HAcontent'>
                                    What the potential transmission risk of COVID-19 within a county might be. The inclusion of commuting, migration, worker types, group gatherings, and living situation.
                                </span>
                                
                            </div>
                            <div *ngIf="current_risk_factor=='healthresources'">
                                <span class='HAcontent'>
                                    What health resources are available to a county’s population to mitigate and aid in the response to the epidemic. The typical health resource measures included beds, ICU, and professional staffing measures.
                                </span>
                            </div>
                            <div *ngIf="current_risk_factor=='exposure'">
                                <span class='HAcontent'>
                                    Incorporated existing exposure metrics (cases, testing, deaths) as temporally collected to aid in the development of associations, correlations, and trends.
                                </span>
                            </div>
                            <div *ngIf="current_risk_factor=='socioeconomic'">
                                <span class='HAcontent'>
                                    What might be some socioeconomic / demographic variables that would capture and describe the associated social context risk within that county. The inclusion of race, ethnicity, disability, insurance status, veteran status, and education level.
                                </span>
                            </div>
                            <div *ngIf="current_risk_factor=='accessibility'">
                                <span class='HAcontent'>
                                    What infrastructure components could be included to provide an assessment of accessibility and establish differences between counties in terms of their access to health options and care. The development and inclusion of various hospital, nursing home, and telehealth access measures as well as broadband metrics.
                                </span>
                                
                            </div>

                        </div> -->


                        <div class='HAspace'>
                            <span class='HAcontent HAsmaller'><span class='HAbold HAsmaller'>Risk Cateogry Risk Score=</span>&Sigma; risk factor risk values</span>
                            <br>
                            <span class='HAcontent HAsmaller'><span class='HAbold HAsmaller'>Risk Factor Risk Value=</span>Risk factor quantile rank</span>

               
                        </div>

                    
                    </div>

              
                    <!-- <div class="aligncenter">

                        <span class='SB_2'>
                            {{current_risk_factor}} risk factors
                        </span>
    
                        <div *ngIf='current_factor=="total"'>
    
                            Total {{current_risk_factor}} risk
                        </div>
    
                        <div *ngIf='current_factor!="total"'>
                            {{current_factor}}
                        </div>
    
    
                        <div id="risk_map" class="risk_map"></div>   
    
                    </div>
                 -->

                </div>

                <div class='column'>

                    <div class="aligncenter">

                        <span class='SB_2'>
                            {{current_risk_factor}} Risk Factors
                        </span>
    
                        <div class='SB_4' *ngIf='current_factor=="total"'>
    
                            Total {{current_risk_factor}} risk
                        </div>
    
                        <div class='SB_4' *ngIf='current_factor!="total"'>
                            <!-- {{current_factor}} -->
                            {{current_description}}
                        </div>
    
    
                        <div id="risk_map" class="risk_map"></div>   
                        <span class='SB_4'>Click on risk factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i></span>


                    </div>
                    <br>
                    Select a Risk Category
                    <div class='columns'>
                        <div class='column'>
                            
                            <div class='aligncenter'>


                                <div *ngIf='current_risk_factor=="accessibility"'>
                                    <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("accessibility")'>Accessibility</div> 
                                </div>
                                <div *ngIf='current_risk_factor!="accessibility"'>
                                    <div class='main_button button_blue' (click)='getFactorsData("accessibility")'>Accessibility</div>
                                </div>
        
                        
        
                                <div *ngIf='current_risk_factor=="healthresources"'>
                                    <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("healthresources")'>Health Resources</div>
                                </div>
                                <div *ngIf='current_risk_factor!="healthresources"'>
                                    <div class='main_button button_blue' (click)='getFactorsData("healthresources")'>Health Resources</div>
                                </div>
        
        
                                
                                <div *ngIf='current_risk_factor=="exposure"'>
                                    <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("exposure")'> Exposure</div>  
                                </div>
                                <div *ngIf='current_risk_factor!="exposure"'>
                                    <div class='main_button button_blue' (click)='getFactorsData("exposure")'>Exposure</div>
                                </div>
        
    
                            </div>

                        </div>
                        <div class='column'>
                            <div class='aligncenter'>
                                <div *ngIf='current_risk_factor=="socioeconomic"'>
                                    <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("socioeconomic")'>Socioeconomic</div>
                                </div>
                                <div *ngIf='current_risk_factor!="socioeconomic"'>
                                    <div class='main_button button_blue' (click)='getFactorsData("socioeconomic")'>Socioeconomic</div>
                                </div>
        
        
        
                                <div *ngIf='current_risk_factor=="susceptibility"'>
                                    <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("susceptibility")'>Susceptibility</div>
                                </div>
                                <div *ngIf='current_risk_factor!="susceptibility"'>
                                    <div class='main_button button_blue' (click)='getFactorsData("susceptibility")'>Susceptibility</div>
                                </div>
        
        
                                <div *ngIf='current_risk_factor=="transmission"'>
                                    <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("transmission")'>Transmission</div>
                                </div>
                                <div *ngIf='current_risk_factor!="transmission"'>
                                    <div class='main_button button_blue' (click)='getFactorsData("transmission")'>Transmission</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

    
  
                    <br>
                    <br>
                    <div *ngIf='spinnertogg' class='loading'>
                        <ngx-spinner bdColor = "rgba(0,0,0,0)" size = "medium" color = "#ff8700" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "false">
                        </ngx-spinner>
                    </div>

                    <br>
    

                    <!-- <div class='aligncenter'>
                        <br>
                        <span class='SB_2'>
                            Select a risk category:
                        </span>
    

                        <div *ngIf='current_risk_factor=="accessibility"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("accessibility")'>Accessibility</div> 
                            <br>Click on factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i>
                        </div>
                        <div *ngIf='current_risk_factor!="accessibility"'>
                            <div class='main_button button_blue' (click)='getFactorsData("accessibility")'>Accessibility</div>
                        </div>

                  

                        <div *ngIf='current_risk_factor=="healthresources"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("healthresources")'>Health Resources</div>
                            <br>Click on factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i>
                        </div>
                        <div *ngIf='current_risk_factor!="healthresources"'>
                            <div class='main_button button_blue' (click)='getFactorsData("healthresources")'>Health Resources</div>
                        </div>


                        
                        <div *ngIf='current_risk_factor=="exposure"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("exposure")'>Exposure</div>  
                            <br>Click on factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i>
                        </div>
                        <div *ngIf='current_risk_factor!="exposure"'>
                            <div class='main_button button_blue' (click)='getFactorsData("exposure")'>Exposure</div>
                        </div>


                        <div *ngIf='current_risk_factor=="socioeconomic"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("socioeconomic")'>Socioeconomic</div>
                            <br>Click on factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i>
                        </div>
                        <div *ngIf='current_risk_factor!="socioeconomic"'>
                            <div class='main_button button_blue' (click)='getFactorsData("socioeconomic")'>Socioeconomic</div>
                        </div>



                        <div *ngIf='current_risk_factor=="susceptibility"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("susceptibility")'>Susceptibility</div>
                            <br>Click on factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i>
                        </div>
                        <div *ngIf='current_risk_factor!="susceptibility"'>
                            <div class='main_button button_blue' (click)='getFactorsData("susceptibility")'>Susceptibility</div>
                        </div>


                        <div *ngIf='current_risk_factor=="transmission"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("transmission")'>Transmission</div>
                            <br>Click on factor to visualize on map.<i class="mdi mdi-arrow-right-thick" ></i>
                        </div>
                        <div *ngIf='current_risk_factor!="transmission"'>
                            <div class='main_button button_blue' (click)='getFactorsData("transmission")'>Transmission</div>
                        </div>
                    </div> -->
                    

                    
                </div>
            </div>


            <div class='columns'>
                <div class='column'>
                    <div *ngIf='!spinnertogg'>

                        <div *ngIf='!spinnertogg2'>
                            <div class='covid_outlines'>

                                 {{county_name}} County's<span class='covid_outlines_bold'>Total COVID-19 Cases:{{county_cov_case}}</span>

                            </div>
                            <div class='covid_plot' (click)='getClickEvent("covidcountycasesclick")'>
                                <plotly-plot [data]="covid_county_cases.data" [layout]="covid_county_cases.layout"></plotly-plot>
                            </div>
                    
                            <div class='covid_plot' (click)='getClickEvent("covidcasesclick")'>
                                <plotly-plot [data]="covid_cases.data" [layout]="covid_cases.layout"></plotly-plot>
                            </div>
                        </div>
                       
                            <!-- <div class='covid_plot' (click)='getClickEvent("covidcasesclick")'>
                                <plotly-plot [data]="covid_cases.data" [layout]="covid_cases.layout"></plotly-plot>
                            </div>
    
                            <div class='covid_plot' (click)='getClickEvent("coviddeathsclick")'>
                                <plotly-plot [data]="covid_deaths.data" [layout]="covid_deaths.layout"></plotly-plot>
                            </div>
                      -->
                
                    </div> 
                </div>
                <div class='column'>

                    <div *ngIf='!spinnertogg'>

                        <!-- <div *ngIf='!spinnertogg2'>
                            <div class='covid_plot' (click)='getClickEvent("covidcountycasesclick")'>
                                <plotly-plot [data]="covid_county_cases.data" [layout]="covid_county_cases.layout"></plotly-plot>
                            </div>
                            <div class='covid_plot'(click)='getClickEvent("covidcountydeathsclick")'>
                                <plotly-plot [data]="covid_county_deaths.data" [layout]="covid_county_deaths.layout"></plotly-plot>
                            </div>
                        </div> -->
                        <div *ngIf='!spinnertogg2'>
                            {{county_name}} County's<span class='covid_outlines_bold'>Total COVID-19 Deaths:{{county_cov_deaths}}</span>
                 
                            <div class='covid_plot'(click)='getClickEvent("covidcountydeathsclick")'>
                                <plotly-plot [data]="covid_county_deaths.data" [layout]="covid_county_deaths.layout"></plotly-plot>
                            </div>
    
                            <div class='covid_plot' (click)='getClickEvent("coviddeathsclick")'>
                                <plotly-plot [data]="covid_deaths.data" [layout]="covid_deaths.layout"></plotly-plot>
                            </div>
                        </div> 
                     
                
                    </div> 

                    <span class='guidance'>Cases and Deaths last updated {{this.update_date}}</span>
                    <br>
                    <span class='guidance'>*Cases/Deaths set to 0 if negative</span>

                </div>

            </div>


            <!-- <div class='columns'>
                <div class='column'> -->


                    <!-- <div *ngIf='spinnertogg' class='loading'>
                        <ngx-spinner bdColor = "rgba(0,0,0,0)" size = "medium" color = "#ff8700" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "false">
                        </ngx-spinner>
                    </div>

                    <br>
                    <div *ngIf='!spinnertogg'>

                        <div *ngIf='!spinnertogg2'>
                            <div class='covid_plot' (click)='getClickEvent("covidcountycasesclick")'>
                                <plotly-plot [data]="covid_county_cases.data" [layout]="covid_county_cases.layout"></plotly-plot>
                            </div>
                            <div class='covid_plot'(click)='getClickEvent("covidcountydeathsclick")'>
                                <plotly-plot [data]="covid_county_deaths.data" [layout]="covid_county_deaths.layout"></plotly-plot>
                            </div>
                        </div>
                       
                            <div class='covid_plot' (click)='getClickEvent("covidcasesclick")'>
                                <plotly-plot [data]="covid_cases.data" [layout]="covid_cases.layout"></plotly-plot>
                            </div>
    
                            <div class='covid_plot' (click)='getClickEvent("coviddeathsclick")'>
                                <plotly-plot [data]="covid_deaths.data" [layout]="covid_deaths.layout"></plotly-plot>
                            </div>
                     
                
                    </div> 

                    <span class='guidance'>Cases and Deaths last updated {{this.update_date}}</span>
                    <br>
                    <span class='guidance'>*Cases/Deaths set to 0 if negative</span> -->


                <!-- </div>
                <div class='column'>
                    <br>
                    <div class='windrose' (click)='getClickEvent("windroseclick")'>
                        <plotly-plot [data]="windrose.data" [layout]="windrose.data.layout"></plotly-plot>
                    </div>
                   
                </div>
            </div> -->




        </div>
        <div class='column is-4 test'>
            <div class='factors_container'>
                <div class='aligncenter'>
                    <!-- <span class='SB_3'>
                        {{county_name}} County {{current_risk_factor}} risk factors
                    </span> -->
                    <!-- <br> (ordered descending by risk value) -->

                    <div class='aligncenter'>

                        <div *ngIf='current_risk_factor=="accessibility"'>
                            <img src="../../assets/accessibility_legend.png">
                        </div>
            
                        <div *ngIf='current_risk_factor=="healthresources"'>
                            <img src="../../assets/healthresources_legend.png">
                        </div>
                        
                        <div *ngIf='current_risk_factor=="exposure"'>
                            <img src="../../assets/exposure_legend.png">
                        </div>
               

                        <div *ngIf='current_risk_factor=="socioeconomic"'>
                            <img src="../../assets/socioeconomic_legend.png">
                        </div>




                        <div *ngIf='current_risk_factor=="susceptibility"'>
                            <img src="../../assets/susceptibility_legend.png">
                        </div>
                    


                        <div *ngIf='current_risk_factor=="transmission"'>
                            <img src="../../assets/transmission_legend.png">
                        </div>
 
                    </div>

                    Risk Values as compared to the mean  <img src="../../assets/mean.png"> of other MO counties
                    <br>(ordered descending by risk value)
                    <br><br>


          

                </div>
              
                <div id='risk_factors'>
                    <div *ngFor='let factors of risk_factors_bars;let i=index'>
                 
                        <div class='risk_button' (click)="triggerFactor(factors.data[0].y, i)" tooltip="{{risk_factors[i].description}}" placement="left" show-delay="0" hide-delay="0">

                            <!-- <div class='main_button button_blue'>{{risk_factors[i].description}}</div> -->
            
                            <plotly-plot [data]="factors.data" [layout]="factors.layout" [config]="factors.config" ></plotly-plot>
                        </div>
                      
                    </div>
                </div>
                <br>
            </div>



        </div>
    </div>

</div>


<div class='footer'>
    &copy;
</div>