<div class='header'>
Geo-Context and COVID-19 in Missouri


    <div class='task_container' >

        <div *ngIf='this.task1'>
            Task 1/6:<br>
            Visualize smoking prevalence factor in the Susceptibility category on the Map.
        </div>
        <div class='task_start' *ngIf='this.task1_start' (click)='start_task1("CT01")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task1_stop' (click)='stop_task1("CT01")'>
            Complete Task
        </div>


        <div *ngIf='this.task2'>
            Task 2/6:<br>
            Find the percent of population without bandwidth in Boone county.
        </div>
        <div class='task_start' *ngIf='this.task2_start' (click)='start_task2("CT02")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task2_stop' (click)='stop_task2("CT02")'>
            Complete Task
        </div>

        <div *ngIf='this.task3'>
            Task 3/6:<br>
            What is the mean time travel to work in 60 min in Missouri?
        </div>
        <div class='task_start' *ngIf='this.task3_start' (click)='start_task3("CT03")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task3_stop' (click)='stop_task3("CT03")'>
            Complete Task
        </div>

        <div *ngIf='this.task4'>
            Task 4/6:<br>
            Locate the total Susceptibility risk value for Lincoln county. 
        </div>
        <div class='task_start' *ngIf='this.task4_start' (click)='start_task4("CT04")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task4_stop' (click)='stop_task4("CT04")'>
            Complete Task
        </div>


        <div *ngIf='this.task5'>
            Task 5/6:<br>
            Locate Benton county’s total weekly Covid cases the week of Jan 04, 2021?
        </div>
        <div class='task_start' *ngIf='this.task5_start' (click)='start_task5("CT05")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task5_stop' (click)='stop_task5("CT05")'>
            Complete Task
        </div>



        <div *ngIf='this.task6'>
            Task 6/6:<br>
            Find the total risk value for Andrew County.
        </div>
        <br>
        <div class='task_start' *ngIf='this.task6_start' (click)='start_task6("CT06")'>
            Start Task
        </div>
        <div class='task_stop' *ngIf='this.task6_stop' (click)='stop_task6("CT06")'>
            Complete Task
        </div>



        <div *ngIf='this.exploration'>
          Open Exploration:<br>
        Take a few minutes to explore the dashboard.
        </div>
        <div class='task_start' *ngIf='this.exploration_start' (click)='start_exploration("CT_EX")'>
            Explore 
        </div>
        <div class='task_stop' *ngIf='this.exploration_stop' (click)='stop_exploration("CT_EX")'>
            Stop Explore
        </div>

        <div *ngIf='this.survey'>
            You have completed the task analysis for the counties dashboard.
            <div class='survey_start' routerLink="/survey2" routerLinkActive="active">
                Start Counties Survey
            </div>
        </div>



    </div>




</div>

<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/categories" routerLinkActive="active" class="selected"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
        <li routerLink="/howtouse" routerLinkActive="active" > Data Sources</li>
        <li routerLink="/datasources" routerLinkActive="active" > How to use</li>
    </ul> 
</div>  
<div class='main_container'>

    <div class='statsblock'>
        <div class='columns'>
            <div class='column is-3'>
                <select id="county drop down" [ngModel]="selectcntyfip" name="county"(change)="getCountyData($event)" >
                    <option *ngFor='let county of counties' value={{county.cnty_fips}} >{{county.cnty_name}} County</option>

                </select>
                <br>
                    <span class='SB_2'>Quick Facts</span>
            </div>
            <div class='column'>
                <div class='stat_shift'>
                    <span class='SB_1'>{{county_pop}}</span>
                    <br>
                    Population
                </div>
             
            </div>
            <div class='column'>
                <div class='stat_shift'>
                    <span class='SB_1'>{{county_65}}</span>
                    <br>
                    People aged 65+
                </div>
            </div>
            <div class='column'>
                <div class='stat_shift'>
                    <span class='SB_1'>{{county_cov_case}}</span>
                    <br>
                    Cases Total
                </div>
            </div>
            <div class='column'>
                <div class='stat_shift'>
                    <span class='SB_1'>{{county_cov_deaths}}</span>
                    <br>
                    Deaths Total
                </div>
            </div>
            <div class='column'>
                <div class='stat_shift'>
                    <span class='SB_1'>{{county_total_risk}}</span>
                    <br>
                    Risk Total
                </div>
            </div>
        </div>
    </div>
    
    <div class='columns'>
        <div class='column'>
            <div class='columns'>
                <div class='column'>

                    <div class="aligncenter">

                        <span class='SB_2'>
                            {{current_risk_factor}} risk factors
                        </span>
    
                        <div *ngIf='current_factor=="total"'>
    
                            Total {{current_risk_factor}} risk
                        </div>
    
                        <div *ngIf='current_factor!="total"'>
                            {{current_factor}}
                        </div>
    
    
                        <div id="risk_map" class="risk_map"></div>   
    
                    </div>
                

                </div>

                <div class='column'>
                    <div class='aligncenter'>
                        <br>
                        <br>
                        <div class="instructions">
                            <span class='guidance'>Click on a risk category to see risk factors.</span>
                            <br>
                            <span class='guidance'>Click on a risk factor bar to update map visual.</span>
                            
                        </div>
            

                        <div *ngIf='current_risk_factor=="accessibility"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("accessibility")'>Accessibility</div>
                            
                            <!-- <span><hr class='new1'></span> -->
                        </div>
                        <div *ngIf='current_risk_factor!="accessibility"'>
                            <div class='main_button button_blue' (click)='getFactorsData("accessibility")'>Accessibility</div>
                        </div>

                  

                        <div *ngIf='current_risk_factor=="healthresources"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("healthresources")'>Health Resources</div>
                        </div>
                        <div *ngIf='current_risk_factor!="healthresources"'>
                            <div class='main_button button_blue' (click)='getFactorsData("healthresources")'>Health Resources</div>
                        </div>


                        
                        <div *ngIf='current_risk_factor=="exposure"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("exposure")'>Exposure</div>
                        </div>
                        <div *ngIf='current_risk_factor!="exposure"'>
                            <div class='main_button button_blue' (click)='getFactorsData("exposure")'>Exposure</div>
                        </div>


                        <div *ngIf='current_risk_factor=="socioeconomic"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("socioeconomic")'>Socioeconomic</div>
                        </div>
                        <div *ngIf='current_risk_factor!="socioeconomic"'>
                            <div class='main_button button_blue' (click)='getFactorsData("socioeconomic")'>Socioeconomic</div>
                        </div>



                        <div *ngIf='current_risk_factor=="susceptibility"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("susceptibility")'>Susceptibility</div>
                        </div>
                        <div *ngIf='current_risk_factor!="susceptibility"'>
                            <div class='main_button button_blue' (click)='getFactorsData("susceptibility")'>Susceptibility</div>
                        </div>


                        <div *ngIf='current_risk_factor=="transmission"'>
                            <div class='main_button button_blue button_blue_selected' (click)='getFactorsData("transmission")'>Transmission</div>
                        </div>
                        <div *ngIf='current_risk_factor!="transmission"'>
                            <div class='main_button button_blue' (click)='getFactorsData("transmission")'>Transmission</div>
                        </div>
                    </div>
                    

                    
                </div>
            </div>


            <div class='columns'>
                <div class='column'>

              

                    <div *ngIf='spinnertogg' class='loading'>
                        <ngx-spinner bdColor = "rgba(0,0,0,0)" size = "medium" color = "#ff8700" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "false">
                        </ngx-spinner>
                    </div>

                    <br>
                    <div *ngIf='!spinnertogg'>

                        <div *ngIf='!spinnertogg2'>
                            <div class='covid_plot' (click)='getClickEvent("covidcountycases")'>
                                <plotly-plot [data]="covid_county_cases.data" [layout]="covid_county_cases.layout"></plotly-plot>
                            </div>
                            <div class='covid_plot'(click)='getClickEvent("covidcountydeaths")'>
                                <plotly-plot [data]="covid_county_deaths.data" [layout]="covid_county_deaths.layout"></plotly-plot>
                            </div>
                        </div>
                       
                            <div class='covid_plot' (click)='getClickEvent("covidcases")'>
                                <plotly-plot [data]="covid_cases.data" [layout]="covid_cases.layout"></plotly-plot>
                            </div>
    
                            <div class='covid_plot' (click)='getClickEvent("coviddeaths")'>
                                <plotly-plot [data]="covid_deaths.data" [layout]="covid_deaths.layout"></plotly-plot>
                            </div>
                     
                
                    </div> 

                    <span class='guidance'>Cases and Deaths last updated {{this.update_date}}</span>
                    <br>
                    <span class='guidance'>*Cases/Deaths set to 0 if negative</span>


                </div>
                <div class='column'>

                    <div class='windrose' (click)='getClickEvent("windrose")'>
                        <plotly-plot [data]="windrose.data" [layout]="windrose.data.layout"></plotly-plot>
                    </div>
                   
                </div>
            </div>




        </div>
        <div class='column is-4 test'>
            <div class='factors_container'>
                <div class='aligncenter'>
                    <span class='SB_3'>
                        {{county_name}} County {{current_risk_factor}} risk factors
                    </span>
                    <br>as compared to the mean  <img src="../../assets/mean.png"> of other MO counties
        
                    <br>


                    <div class='aligncenter'>

                        <div *ngIf='current_risk_factor=="accessibility"'>
                            <img src="../../assets/accessibility_legend.png">
                        </div>
            
                        <div *ngIf='current_risk_factor=="healthresources"'>
                            <img src="../../assets/healthresources_legend.png">
                        </div>
                        
                        <div *ngIf='current_risk_factor=="exposure"'>
                            <img src="../../assets/exposure_legend.png">
                        </div>
               

                        <div *ngIf='current_risk_factor=="socioeconomic"'>
                            <img src="../../assets/socioeconomic_legend.png">
                        </div>




                        <div *ngIf='current_risk_factor=="susceptibility"'>
                            <img src="../../assets/susceptibility_legend.png">
                        </div>
                    


                        <div *ngIf='current_risk_factor=="transmission"'>
                            <img src="../../assets/transmission_legend.png">
                        </div>
 
                    </div>


                </div>
              
                <div id='risk_factors'>
                    <div *ngFor='let factors of risk_factors_bars;let i=index'>
                 
                        <div class='risk_button' (click)="triggerFactor(factors.data[0].y)" tooltip="{{risk_factors[i].description}}" placement="left" show-delay="0" hide-delay="0">
            
                            <plotly-plot [data]="factors.data" [layout]="factors.layout" [config]="factors.config" ></plotly-plot>
                        </div>
                      
                    </div>
                </div>
                <br>
            </div>



        </div>
    </div>

</div>


<div class='footer'>
    &copy;
</div>