<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/categories" routerLinkActive="active" > Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
        <li routerLink="/datasources" routerLinkActive="active" class="selected" > Data Sources</li>
        <li routerLink="/howtouse" routerLinkActive="active" > How to use</li>
    </ul> 
</div> 

<div class='main_container'>
    <div class='columns'>
       
        <div class='column is-3'>
            <div class="alignright">
                Select Risk Categories to see data sources
                <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : risk_factors.Accessibility==1}" (click)='getDataSources("accessibility")'>Accessibility</div>
                <br>
                <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : risk_factors.Exposure==1}" (click)='getDataSources("exposure")'>Exposure</div>
                <br>
                <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : risk_factors.Health_resources==1}" (click)='getDataSources("healthresources")'>Health Culture</div>
                <br>
                <div  class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : risk_factors.Socioeconomic==1}"  (click)='getDataSources("socioeconomic")'>Socioeconomic</div>
                <br>
                <div  class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : risk_factors.Susceptibility==1}" (click)='getDataSources("susceptibility")'>Susceptibility</div>
                <br>
                <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : risk_factors.Transmission==1}" (click)='getDataSources("transmission")'>Transmission</div>
            </div>
        </div>
        <div class='column'>
            <div class="type1">Data Sources</div>
            
      
            <table>
              

                    <tr>
                        <th style="width: 70%;">Description</th>
                        <th style="width: 30%;"> Source URL</th>
                        </tr>
                        <tr *ngFor='let sources of data_sources'>
                        <td style="width: 70%;">{{sources.description}}</td>
                        <td style="width: 30%;"><a href="{{sources.source_url}}">Click here</a></td>
                    </tr>
             
         
            </table>
       
        </div>
    </div>
</div>



<div class='footer'>
    &copy; 2021 - University of Missouri, IDAS Lab
    <br>
    <div class='columns'>
        <div class='column is-2' style='text-align: right;'>
            <img src="../../assets/NSFlogo.png" style='border:solid 2px black; width:40%;'>
        </div>
        <div class='column'>
            <div style='font-size:0.8rem; text-align:left; font-weight:bolder;'>
                This project was supported by the National Science Foundation under award number IIS- 2027891 entitled “RAPID: Geospatially-Enabled Deep Analytics for Real-time Mitigation and Response to COVID-19 Outbreak for American Rural Populations.” The content is solely the responsibility of the researchers and does not necessarily represent the official views of the funding agency.
            </div>
        </div>
    </div>
</div>