<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/predictions" routerLinkActive="active" > Predictions</li>
        <li routerLink="/categories" routerLinkActive="active" class="selected"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
    </ul> 
</div> 

<div class='main_container'>

    <div class='columns'>
        <div class='column is-3'>
            <div class="alignright">
                <div class='main_button button_blue'>Accessibility</div>
                <div class='main_button button_blue'>Exposure</div>
                <div class='main_button button_blue'>Health Resources</div>
                <div class='main_button button_blue'>Socioeconomic</div>
                <div class='main_button button_blue'>Susceptibility</div>
                <div class='main_button button_blue'>Transmission</div>
            </div>
        
        </div>
        <div class='column'>
            <div id="cat_map" class="cat_map"></div>   
        </div>
        <div class='column is-3'>
            filters
        </div>
    </div>
  
    <div class="columns">
        <div class="column">
            


            <table>
                <tr>
                  <th>Plots</th>
                  <th>FIPS</th>
                  <th>Cases to date</th>
                  <th>Death to date</th>
                </tr>
                <tr>
                  <td><plotly-plot [data]="tot_bar.data" [layout]="tot_bar.layout"></plotly-plot></td>
                  <td>Smith</td>
                  <td>50</td>
                  <td>302</td>
                </tr>
              </table>
        </div>
        <div class="column is-3">
            choose filters
            
        </div>
    </div>
</div>


<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>