<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/predictions" routerLinkActive="active" > Predictions</li>
        <li routerLink="/categories" routerLinkActive="active" class="selected"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
    </ul> 
</div> 

<div class='main_container'>

    <div class='columns'>
        <div class='column is-3'>
            <div class="alignright">
                <br>
                <div  class='main_button button_blue'>Accessibility</div>
                <div  [ngClass]="{'main_button button_blue' : risk_factors.Exposure==2,'main_button1 button_blue_selected' : risk_factors.Exposure==1}" (click)='updateTotals("Exposure")'>Exposure</div>
                <div  class='main_button button_blue'>Health Resources</div>
                <div  class='main_button button_blue'>Socioeconomic</div>
                <div  [ngClass]="{'main_button button_blue' : risk_factors.Susceptibility==2,'main_button1 button_blue_selected' : risk_factors.Susceptibility==1}" (click)='updateTotals("Susceptibility")'>Susceptibility</div>
                <div  [ngClass]="{'main_button button_blue' : risk_factors.Transmission==2, 'main_button1 button_blue_selected' : risk_factors.Transmission==1}" (click)='updateTotals("Transmission")'>Transmission</div>
            </div>
        
        </div>
        <div class='column'>
            <div class='map_header'>
                {{map_title}} Risk Totals
            </div>
            <div id="cat_map" class="cat_map"></div>   
        </div>
        <div class='column is-4'>
            <div class='map_header'>
                &nbsp;
            </div>
            <table>
                <tr>
                  <th>Filtered by:</th>
                </tr>
                <tr>
                  <td><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></td>
                </tr>
              </table>
        </div>
    </div>
  
    <div class="columns">
            <div class="column">
                <div class='bars_title'>Counties ordered by the highest risk total</div>
                <div class="bars_scroll">
                    <div class="columns">
                        <div class="column">
                            <div *ngFor='let factors of bar_bars'>
                                <div class='bars_plot'>
                                    <plotly-plot [data]="factors.data" [layout]="factors.layout"></plotly-plot>
                                </div>
                            
                            </div>
                        </div>
                        <div class="column">
                            <div *ngFor="let data of tot_table">
                                <div class='bars_plot_text'>
                                    {{data.countyFIPS}}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div *ngFor="let data of tot_table">
                                <div class='bars_plot_text'>
                                    {{data.total_cases}}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div *ngFor="let data of tot_table">
                                <div class='bars_plot_text'>
                                    {{data.total_deaths}}
                                </div> 
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        

        <div class="column is-2">
            choose filters
            
        </div>
    </div>
</div>


<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>