/*----------- Main structure -----------*/
.header{
    background-color:#2872b2;
   
    left:0;
    top:0;
    width:100%;

    font-family:"Euphemia UCAS";
    font-weight: bolder;
    font-size: 2.5rem;
    color:white;
    text-align:center;
    padding: 10px 200px;
}


.main_container{
  padding:10px;
  min-height:15vh;
}





.footer{
  background-color:#c4c4c4;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  overflow:hidden;

  margin-top:0px;

  padding: 10px 200px;
}
  /*----------- Buttons -----------*/
  .main_button{

    color: white;
    margin-top:17px;
    margin-right:10px;
    display: inline-block;
    border-radius:8px;
    padding-top:3px;
    padding-bottom:8px;
    cursor:pointer;

    list-style: none;

}

.button_blue {
    background-color: #2872b2;
    width: 220px;
    font-family:"Euphemia UCAS";
    font-weight: bold;
    font-size: 1.2rem;
    text-align:center;
}
.button_blue:hover{
  background-color:#033554;
}
.button_blue_selected{
  background-color:#033554;
  margin-right:0px;
}


/* Table */

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
  
  }
  
  table {
  border-collapse: collapse;
  width: 80%;
  margin-right:100px;
  
  }
  
  th{
  background: #3a3a3a;
  color:white;
  padding: 5px;
  text-align:center;
  font-weight:bold;
  }
  
  td{
  background: #eaeaea;
  padding: 5px;
  font-size:12px;
  cursor:pointer
  }
  
  
  .highlighted{
  background-color: #8abeec;
  color:white;
  }

/* Headers */


.type1{
  font-size: 1.5rem;
  font-weight: bolder;
}

/* Navigation bar -- Tabs */
.nav_bar{
    margin-left:380px;
}


ML CSS JSResult
EDIT ON


.tabrow {
  text-align: center;
  list-style: none;
  margin: 200px 0 20px;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
  

}

.tabrow li {
  border: 2px solid #2872b2;
  background:#8abeec;
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 12px;
  padding: 0 30px;

  color: white;
  font-family:"Verdana";
  font-weight: bold;
  font-size: 1.2rem;
  cursor:pointer;
}

.tabrow a {
  color: #2872b2;
  text-decoration: none;
}

.tabrow li.selected {
  background: #2872b2;
  color:white;
  z-index: 2;
  border-top-color:#2872b2;
}

.tabrow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #2872b2;
  z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
  border: 1px solid #2872b2;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tabrow li:before {
  left: -8px;
  top:-3px;
  border-top-right-radius: 10px;
  border-width: 1px 0px 0px 0px;
  box-shadow: 2.3px 0px 0 #2872b2;
  
}

.tabrow li:after {
  right: -7.6px;
  top:-3.2px;
  border-top-left-radius: 10px;
  border-width: 1px 0px 0px 0px;
  box-shadow: -2.3px 0px 0 #2872b2;
}

.tabrow li.selected:before {
  box-shadow: 2px 0px 0 #2872b2;
}

.tabrow li.selected:after {
  box-shadow: -2px 0px 0 #2872b2;
}



::ng-deep .modebar {
    display: none !important;
    }
  


.bars_plot{
    height:25px;
    font-size:12px;
}



.bars_scroll
{
    max-height:250px;
    overflow-y: scroll;
    padding:0px;
    margin-left:200px;
    width:800px;

}


.bars_title
{
    text-align:center;
    font-size:1rem;
    margin-left:200px;

}

/*----------- Map -----------*/
.cat_map{
    height:40vh;
    width: 80vh;
    margin:5px;
    }
  
  
::ng-deep .cat_info {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}
.cat_info h4 {
margin: 0 0 5px;
color: #777;
}


  
  


