.sidenav {
    height: 100%; /* 100% Full-height */
    width: 25rem; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(18, 24, 43); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px; /* Place content 60px from the top */
    padding-left: 2rem;
    padding-right:2rem;


    color:white;
    font-size:0.7rem;
    font-family: "Georgia", serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align:center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #ffffff;

  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .main {
    padding-left: 25rem;
    color:black;
    background-color:#f0f0f0;
    height:90vh;
  }



  .top_nav{
        width:100%;
        background-color:#ffffff;
        padding-left:25rem;
        height:5rem;
  }






  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    width:100%;
    cursor:pointer;
    
    
    }
    
    table {
    border-collapse: collapse;
    
    }
    
    th{
    background: #3a3a3a;
    color:white;
    padding: 5px;
    text-align:center;
    font-weight:bold;
    font-size:0.8rem;
    }
    
    td{
    background: #eaeaea;
    padding: 5px;
    font-size:0.7rem;
    color:black;
    }
    
    
    .highlighted{
    background-color: #8abeec;
    color:white;
    }
  


.isocategory_select{
    font-size:0.8rem;
    width:100%;
    height:1.5rem;
    background-color:white;
    border: 1px solid black;
}

.filtertitle{
  color:white;
  font-size:0.8rem;
  font-family: "Georgia", serif;
  font-weight:bolder;
}

.filterbox{
  background-color:#3a3a3a;
  border-radius: 8px;
  border:1px solid black;
  padding:5px;
}


.applyfilter{
  color:black;
  font-size:0.7rem;
  font-family: "Georgia", serif;
  font-weight:bolder;
  background-color:#78c679;
  padding:2px;
  border: 1px solid black;
}





.search{
    font-size:0.8rem;
    width:100%;
    height:2rem;
    background-color:white;
    border: 1px solid black;
}

.search_button{
    font-size:0.8rem;
    height:2rem;
    width:10%;
    background-color:rgb(240, 240, 240);
    border: 1px solid black;

}



.geo_map{
  height:100vh;
  width: 150vh;
  margin:5px;
  z-index:1;
}









my-pagination /deep/ .ngx-pagination {
  text-align: center;
}

.my-pagination /deep/ .ngx-pagination li{
  padding: 5px;
  margin-top:3px;

}

.my-pagination /deep/ .ngx-pagination .current{
  color:#cbfff5;
  font-weight:bold;
  border-radius:10px;
  padding:4px;
}

.my-pagination /deep/ .ngx-pagination a{
  color: #ffffff !important;
  padding: 0 !important;
  border: none;
}

.my-pagination /deep/ .ngx-pagination a:hover{
  color: #ffffff !important;
  padding: 0 !important;
  border: none;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous{
  color:#ffffff !important;
  padding: 0 !important;
  border: none;
  margin-right: 10px;
  font-size:12px;
  margin-top: 10px;
}

.my-pagination /deep/ .ngx-pagination .pagination-next{
  color: white !important;
  padding: 0 !important;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  font-size:12px;
}

.my-pagination /deep/ .ngx-pagination .pagination-previous .disabled{
  color: white !important;
  padding: 0 !important;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size:12px;
}

.my-pagination /deep/ .ngx-pagination .pagination-next .disabled{
  color: white !important;
  padding: 0 !important;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  font-size:12px;
}