<div id="mySidenav" class="sidenav">


    <img src="../../assets/geoark.png">


    <div class='filterbox'>

      <div class="filtertitle">
        Filters:
      </div>
      Iso-Category:
      <div>
          <select class='isocategory_select'  (change)="setFilter('ISOKEY',$event)">
            <option value="None">(ALL))</option>
            <option value="1">Farming</option>
            <option value="2">Biota</option>
            <option value="3">Boundaries</option>
            <option value="4">Climatology, Meteorology. Atmosphere</option>
            <option value="5">Economy</option>
            <option value="6">Elevation</option>
            <option value="7">Environment</option>
            <option value="8">Geoscientific Information</option>
            <option value="9">Health</option>
            <option value="10">Imagery Base Maps, Earth Cover</option>
            <option value="11">Intelligence Military</option>
            <option value="12">Inland Waters</option>
            <option value="13">Location</option>
            <option value="14">Ocean</option>
            <option value="15">Planning Cadastre</option>
            <option value="16">Society</option>
            <option value="17">Structure</option>
            <option value="18">Transportation</option>
            <option value="19">Utilities Communication</option>
  
          </select>
        </div>

        Geographic Level:
        <div>
            <select class='isocategory_select' (change)="setFilter('GEOGRAPHIC',$event)">
              <option value="None">(ALL)</option>
              <option value="COUNTY">County</option>
              <option value="TRACT">Tract</option>
              <option value="STATE">State</option>
    
            </select>
          </div>
        <br>
    </div>
   
    <br>
    Search by keyword:
   <input class='search' type="text" placeholder="Search.." name="search">
    <br>
    <table>
        <tr>
            <th>Select an attribute:</th>
        </tr>
        <tr *ngFor='let attribute of attributes_filtered | paginate: { itemsPerPage: 10, currentPage: p}; let i=index'>
            <td [class.highlighted]="attribute.attr_label==selected" (click)='getData(i)'>{{attribute.attr_desc}} </td>
        </tr>
    </table>

    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class='top_nav'>
    Stuff here
</div>
  <div class='main'>
    <div id="geo_map" class="geo_map"></div>
  </div>