<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Dashboard Evaluation Study
    </div>
</div>


<div class='body'>

<form (ngSubmit)='sendForm()'> 

    <span class='title'>About the Participant:</span>
    <br>
    <br>
    1. What type of organization are you a member of?
    <select id="USQ1" name="USQ1" [(ngModel)]="this.survey.USQ1">
        <option value='-1'>Select an answer...</option>
        <option value="0">Planning</option>
        <option value="1">Academic</option>
    </select>
    <br>
    <br>
    2. How would you categorize your organization?
    <select id="USQ2" name="USQ2" [(ngModel)]="this.survey.USQ2">
        <option value='-1'>Select an answer...</option>
        <option value="0">Health Care</option>
        <option value="1">Government</option>
        <option value="2">Social Services</option>
    </select>
    <br>
    <br>
    3. Have you used a dashboard before?
    <select id="USQ3" name="USQ3" [(ngModel)]="this.survey.USQ3">
        <option value='-1'>Select an answer...</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    <br>
    <br>
    4. Do you use dashboards regulary (work, community, organization)?
    <select id="USQ4" name="USQ4" [(ngModel)]="this.survey.USQ4">
        <option value='-1'>Select an answer...</option>
        <option value="0">I have not used a dashboard before.</option>
        <option value="1"> I have once before.</option>
        <option value="2">I use them daily.</option>
        <option value="3">I use them some times.   </option>
    </select>
    <br>
    <br>
    5. Have you created a dashboard before?
    <select id="USQ5" name="USQ5" [(ngModel)]="this.survey.USQ5">
        <option value='-1'>Select an answer...</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    <br>
    <br>
    6. What is your internet speed? 
    <br>&nbsp;&nbsp;&nbsp;1) In a new browser window (or tab) copy and paste the following URL: https://www.speedtest.net/
    <br>&nbsp;&nbsp;&nbsp;2) Hit "Go" 
    <br>&nbsp;&nbsp;&nbsp;3) Once test is completed, record "Download Speed":
    <input type="text" id="USQ6" name="USQ6" value="mbps" [(ngModel)]="this.survey.USQ6"> Mpbs
    <br>
    <br>
    <br>
    <span class='warning'>
        Once you click "submit" you will start the evaluation. Please make sure you have 30-45min to complete the evaluation. Sessions cannot be saved.
    </span>
    <div class='aligncenter'>
        <button class="main_button button_red" >Submit & Start Evaluation</button>
    </div>


</form>
 

</div>


