<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Dashboard Evaluation Study
    </div>
</div>
<div class='body'>
    <span class='title'>About the Participant:</span>
    <br>
    <br>
1. How would you categorize the organization you belong to? 
<select id="USQ1" name="USQ1">
    <option value='-1'>Select an answer...</option>
    <option value="0">Health Care</option>
    <option value="1">Educator</option>
    <option value="2">Government</option>
    <option value="3">Assisted Living</option>
    <option value="4">Social Services</option>
</select>
<br>
<br>
2. Have you used a dashboard before?
<select id="USQ2" name="USQ2">
    <option value='-1'>Select an answer...</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>
<br>
<br>
3. If so, how many dashboards have you used?
<select id="USQ3" name="USQ3">
    <option value='-1'>Select an answer...</option>
    <option value="0">I have not used a dashboard before.</option>
    <option value="1">1-5 Dashboards</option>
    <option value="2">5-10 Dashboards</option>
    <option value="3">10+ Dashboards</option>
</select>
<br>
<br>
4. Do you use dashboards to gain insight for projects (work, community, organization)?
<select id="USQ4" name="USQ4">
    <option value='-1'>Select an answer...</option>
    <option value="0">I have not used a dashboard before.</option>
    <option value="1"> I have once before.</option>
    <option value="2">I use them daily.</option>
    <option value="3">I use them some times.   </option>
</select>
<br>
<br>
5. Have you created a dashboard before?
<select id="USQ5" name="USQ5">
    <option value='-1'>Select an answer...</option>
    <option value="1">Yes</option>
    <option value="0">No</option>
</select>
<br>
<br>
6. What is your internet speed (click here- hit "run test")?
<input type="text" id="USQ6" name="USQ6" value="mbps">
<br>
<br>
<br>
<div class='main_button button_red' routerLink="/counties" routerLinkActive="active">
    Start Test #1
</div>


</div>


