<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Part 2 : Risk Categories 
    </div>
</div>
<div class='body'>
    The “Risk Categories” dashboard lets users create a customized risk assessment 
    by selecting which risk categories they’d like to include in the county risk score. 
    Users can also visualize risk in relation to how urban/rural a county is.
    <div class='column'>
        <span class='bold'><br>How to navigate dashboard:</span>
        <div class='indent'>
            <br><span class='bold'>1)</span>	Select risk categories to be included in the county risk score
            <br><span class='bold'>2)</span>    Filter counties based on the rural-urban continuum (rural VS urban)
            <br><span class='bold'>3)</span>	Highlight a county of interest (optional)
            <br><span class='bold'>4)</span>	Review filter selections and legend
        </div>
        <br>
        <span class='bold'><br>Features of dashboard:</span>
        <div class='indent'>
            <br><span class='bold'>A)</span>	Choropleth map of county risk scores (based on selected risk categories).
            <br><span class='bold'>B)</span>	B)	Bar plot ordered by highest county risk total (counties that do not fit within filter specifications are not included in this plot).
        </div>
    </div>

    <div class='aligncenter'>
        <button class="main_button button_red" (click)='startPart2()'>Start Part 2: Task Analysis</button>
    </div>


</div>


