<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Part 2 : Risk Categories 
    </div>
</div>
<div class='body'>
    The Risk Categories Dashboard gives a high-level view of risk throughout the counties of Missouri. Users can generate a customized
    risk assessment by selecting different combinations of risk categories. A rural-urban contiuum filter can be applied to visualize
    the relationship between risk and how rural or urban a county is. 
    <div class='aligncenter'>
        <img src="../../assets/howtouse_categories.png">
    </div>

    <div class='aligncenter'>
        <button class="main_button button_red" (click)='startPart2()'>Start Part 2: Task Analysis</button>
    </div>


</div>


