<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Dashboard Evaluation Study
    </div>
</div>
<div class='body'>
    Thank you for participating in this study. Your contribution will provide our team insight
    on how we can improve the Geo-context and COVID-19 in Missouri dashboard so that users will
     be able to explore and visualize data in ways that are most useful to their individual goals.

    <br><br>
     You will evaluate two dashboards:<br>
     1.	Risk Categories – Select, aggregate and visualize risk totals from 6 risk categories at 
     the Missouri county-level. Determine which counties have the highest/lowest risk and apply a 
     rural-urban continuum filter.<br>
     2.	Counties – Visualize over 50 + risk factors from 6 risk categories at the Missouri 
     county-level. Learn about the risk category make-up of specific counties and how risk factors 
     compare to the Missouri county averages. See the weekly covid-19 cases/deaths count from the
    beginning of 2020-present.<br>
     

<br>
    <span class='title'>Part 2</span><br>

test
</div>


