<div class="backgroundcolor">

    <div class="header">
        <div class='aligncenter'>
            <img src="../../assets/geoarkdata.png" width=700px>
        </div>
    </div>
    <div class="navigation">
        <div class="nav_button nav_selected" routerLink="/geoARKData" routerLinkActive="active">Home</div>
        <div class="nav_button" routerLink="/uploadData" routerLinkActive="active">Upload Data</div>
        <div class="nav_button" routerLink="/upcomingData" routerLinkActive="active">Upcoming</div>
        <div class="nav_button" routerLink="/dbDesign" routerLinkActive="active">Documentation</div>
    </div>
 

    <div class='main_container'>
        <div class="columns">
            <div class="column is-2">
               Table of Contents

               <div class='toc_buttons'>
                    METADATA
               </div>
                <div class='toc_buttons'>
                    DATA TOOL
                    
                </div>
            </div>
            <div class="column">
                <img src="../../assets/geoarkmetadata.png" width=600px>
                <br>
                <span class="main_cont_h1">Database Description:</span>
                <br>
                The metadata database consists of 3 main collections: originators, datasets, and bigdata. 

                <table>
                    <tr>
                        <th>Field</th>
                        <th>Description</th>
                    </tr>
                    <br>
                    <td>originator_prefix</td>
                    <td>a unique UUID id used to identify a data source</td>
                </table>
                
                
            </div>
        </div>
    </div>

    


</div>






    

    
 

