<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Counties Dashboard Survey
    </div>
</div>
<div class='body'>
    <table>
        <tr>
            <th></th>
            <th align="center">Strongly Disagree</th>
            <th align="center">Disagree</th>
            <th align="center">Neutral</th>
            <th align="center">Agree</th>
            <th align="center">Strongly Agree</th>


        </tr>
        <tr *ngFor='let question of survey'>
            <td style="width:50%">{{question.Question}}</td>
            <td align="center"> <input type="radio" name="StronglyDisagree"/></td>
            <td align="center">  <input type="radio" name="Disagree"/></td>
            <td align="center">  <input type="radio" name="Neutral"/></td>
            <td align="center">  <input type="radio" name="Agree"></td>
            <td align="center">  <input type="radio" name="StronglyAgree"/></td>


            
            

        </tr>
    </table>



<div class='main_button button_red' routerLink="/counties" routerLinkActive="active">
    Start Test #1
</div>
