<div class="backgroundcolor">

    <div class="header">
        <div class='aligncenter'>
            <img src="../../assets/geoarkdata.png" width=700px>
        </div>
    </div>
    <div class="navigation">

        <div class="nav_button nav_selected" routerLink="/geoARKData" routerLinkActive="active">Home</div>
        <div class="nav_button" routerLink="/dbDesign" routerLinkActive="active">Database Design</div>
        <div class="nav_button" routerLink="/uploadData" routerLinkActive="active">Upload Data</div>
    </div>
 
    <div class='main_container'>
        <div class='statcard'>
            <div class='statcard_num'>
                {{sources_num}}
            </div>
            # of Data Sources
        </div>
        <div class='statcard'>
            <div class='statcard_num'>
                {{datasets_num}}
            </div>
            # of Datasets
        </div>
        <div class='statcard'>
            <div class='statcard_num'>
                {{total_attributes}}
            </div>
            # of Attributes
        </div>
    </div>

    <div class='columns'>
        <div class='column'>
            <div class='aligncenter'>
                <span class='headers'>Sources</span>
                <br>
                <table class="fixed_header">
                    <thead>
                        <tr>
                        <th>Data Source</th>
                        <th>Number of Datasets</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sources of sources_obj">
                            <td>{{sources.originator_name}}</td>
                            <td>{{sources.num_datasets}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class='column'>
            <div class='aligncenter'>
                <span class='headers'>Datasets</span>
                <br>
                <table class="fixed_header">
                    <thead>
                        <tr>
                        <th>Data Source</th>
                        <th>Dataset Name</th>
                        <th>Number of Attributes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let datasets of datasets_obj">
                            <td>{{datasets.originator_name}}</td>
                            <td>{{datasets.dataset_name}}</td>
                            <td>{{datasets.num_attributes}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class='column'>
            <div class='aligncenter'>
                <span class='headers'>Daily Updates</span>
                <br>
                <table class="fixed_header">
                    <thead>
                        <tr>
                        <th>Dataset</th>
                        <th>Time Updated</th>
                        <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>row 1-0</td>
                            <td>row 1-1</td>
                            <td>row 1-1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    

</div>






    

    
 

