<div class='whitespace_top'>

</div>



<div class='main_block'>
    <div class='title'>
        Geo-Context and COVID-19
    </div>

    <div class='sub_title1'>
        At the intersection of GEMS (geospatial, environmental, management 
        <br>
        and socioeconomic) on COVID-19 in Missouri
    </div>

    <br><br>

    <div class='sub_title2'>
        Start Exploring Existing Data:
    </div>

    <div class='main_button button_blue' routerLink="/categories" routerLinkActive="active">
        Risk Categories
    </div>

    <div class='main_button button_orange' routerLink="/counties" routerLinkActive="active">
        Counties
    </div>
</div>



<div class='whitespace_bottom'>
    <div class='footer_links' routerLink="/howtouse" routerLinkActive="active">
        How to use this dashboard
    </div>
   <div class='footer_links' routerLink="/datasources" routerLinkActive="active">
       Data Sources
   </div>
    &copy;
</div>
