<div class='whitespace_top'>

</div>



<div class='main_block'>
    <div class='title'>
        Geo-Context and COVID-19
    </div>

    <div class='sub_title1'>
        At the intersection of GEMS (geospatial, environmental, management 
        <br>
        and socioeconomic) on COVID-19 in Missouri
    </div>

    <br><br>
    <div class='main_button button_red' routerLink="/predictions" routerLinkActive="active">
        Predictions & Simulations
    </div>
    
    <br>
    <div class='sub_title2'>
        Start Exploring Existing Data:
    </div>

    <div class='main_button button_blue' routerLink="/dashboard" routerLinkActive="active">
        Risk Categories
    </div>

    <div class='main_button button_orange' routerLink="/countyDetails" routerLinkActive="active">
        County Details
    </div>
</div>



<div class='whitespace_bottom'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;

</div>