<div class='whitespace_top'>

</div>



<div class='main_block'>
    <div class='title'>
        Geo-Context and COVID-19
    </div>

    <div class='sub_title1'>
        At the intersection of GEMS (geospatial, environmental, management 
        <br>
        and socioeconomic) on COVID-19 in Missouri
    </div>

    <br><br>

    <div class='sub_title2'>
        Start Exploring Existing Data:
    </div>

    <div class='main_button button_blue' routerLink="/categories" routerLinkActive="active">
        Risk Categories
    </div>

    <div class='main_button button_orange' routerLink="/counties" routerLinkActive="active">
        Counties
    </div>
    <br>
    <div class='columns'>
        <div class='column is-2'>
            <img src="../../assets/NSFlogo.png" style='border:solid 2px black'>
        </div>
        <div class='column'>
            <div style='font-size:1.1rem; text-align:left; font-weight:bolder;'>
                This project was supported by the National Science Foundation under award number IIS- 2027891 entitled “RAPID: Geospatially-Enabled Deep Analytics for Real-time Mitigation and Response to COVID-19 Outbreak for American Rural Populations.” The content is solely the responsibility of the researchers and does not necessarily represent the official views of the funding agency.
            </div>
        </div>
    </div>
  
</div>



<div class='whitespace_bottom'>
    <div class='footer_links' routerLink="/howtouse" routerLinkActive="active">
        How to use this dashboard
    </div>
   <div class='footer_links' routerLink="/datasources" routerLinkActive="active">
       Data Sources
   </div>
   &copy; 2021 - University of Missouri, IDAS Lab
</div>
