
html {
  background-color: #FFFFFF;
}

body {
    font-family: Geneva;
    font-size:14px;
    color: black;
} 

h1{
    font-family: Geneva;
    font-size:50px;
    color: black;
    text-align:center;
    font-weight:bold;

}


h2{
    font-family: Geneva;
    font-size:30px;
    color: white;
    font-weight:bold;

}



h3{
  font-family: Geneva;
  font-size:20px;
  color: black;
  font-weight:bold;

}


.icons {
    font-size: 20px;
  }

.icons:hover { 
  color:#99caff;
}

.aligncenter{
  text-align:center;
}





