<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Dashboard Evaluation Study
    </div>
</div>
<div class='body'>
    Thank you for participating in this study. Your contribution will provide our team insight
    on how we can improve the Geo-context and COVID-19 in Missouri dashboard so that users will
     be able to explore and visualize data in ways that are most useful to their individual goals.
     <br><br>

     <div class='columns'>
        <div class='column'>
            <img src="../../assets/RiskCategoriesBubbles.png" style='width:80%'>

        </div>
        <div class='column'>
            Our website provides users with an interactive way to learn about the different risk factors throughout the counties of Missouri. 
            <div class='tab' style='font-size:0.8rem;'>
                <span class='bold'>Susceptibility (Individual) Risk:</span> How susceptible an individual in a county might be to COVID-19. The inclusion of known and possible co-morbidities and age breaks were assessed.
                <br><br><span class='bold'>Transmission (Community) Risk:</span> What the potential transmission risk of COVID-19 within a county might be.  The inclusion of commuting, migration, worker types, group gatherings, and living situation. 
                <br><br><span class='bold'>Socioeconomic Risk:</span>What might be some socioeconomic / demographic variables that would capture and describe the associated social context risk within that county. The inclusion of race, ethnicity, disability, insurance status, veteran status, and education level.
                <br><br><span class='bold'>Accessibility Risk:</span> What infrastructure components could be included to provide an assessment of accessibility and establish differences between counties in terms of their access to health options and care. The development and inclusion of various hospital, nursing home, and telehealth access measures as well as broadband metrics.
                <br><br><span class='bold'>Health Culture Risk:</span> An assessment trying to establish the variability in county-based measures of health care adherence, health screenings, vaccinations and other measures to determine the range or concentration of possible cultural & regional impacts to good health maintenance.
                <br><br><span class='bold'>Exposure Risk:</span>Incorporated existing exposure metrics (cases, testing, deaths) as temporally collected to aid in the development of associations, correlations, and trends.
        
            </div>
        </div>
    </div>
     

<br>
    <span class='title'>Procedure:</span><br>
<div class='bold'>You will need 25 minutes to complete this evaluation. Evaluations cannot be saved; it is ideal that all tests are performed in the same session.</div>
1. You will take a user survey to provide information about the organization to which you belong and your experience using dashboards. 
No identifer information will be collected.
<br>2.	You will evaluate the "Risk Categories" and "Counties" dashboards in two ways:
<div class='columns'>
    <div class='column'>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;a. <span class='bold'>Tasks</span> - you will perform a set of tasks where mouse-clicks and task duration will be captured. 
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1) Read the task carefully.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2) Click "start task" as seen in the image below, and perform the task.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3) Once you have completed the task, click "complete task"
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4) A new task will appear, repeat steps 1-4                  
    </div>
    <div class='column is-3'>
        <br><img src="../../assets/taskshot1 copy.png">
    </div>
</div>
<div class='columns'>
    <div class='column'>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;b. <span class='bold'>Survey</span> - you will be prompted with questions regarding your experience using the dashboard.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1) Answer each question by selecting a value in the 1-5 scale.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2) Answer all questions. 
    </div>
    <div class='column is-3'>
        <br><img src="../../assets/surveyshot.png">
    </div>
</div>



<br>
<div class='main_button button_red' routerLink="/survey1" routerLinkActive="active">
    Start Evaluation
</div>


</div>


