<div class="aligncenter">
    <img src="../../assets/geoarkhome.bmp">
</div>

<div class="columns">

<div class="column"></div>


<div class="column">
    <div class="aligncenter">
        <span class="button_title">
            GeoARK data portal
        </span>
    </div>
</div>

<div class="column">
    <div class="aligncenter">
        <span class="button_title">
            NSF RAPID COVID-19 Dashboard
        </span>
        <img class="image_button" src="../../assets/rapiddbbutton.bmp"  routerLink="/rapidHome" routerLinkActive="active">
    </div>
    
</div>



<div class="column"></div>

</div>