<div class='header'>
Geo-Context and COVID-19 in Missouri
</div>

<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/predictions" routerLinkActive="active" > Predictions</li>
        <li routerLink="/categories" routerLinkActive="active" class='selected'> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
    </ul> 
</div>

<div class="columns">
    <div class="column is-3">
    Test
    </div>
    <div class="column">
        <div id="cat_map" class="cat_map"></div>   

        <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
    </div>
    <div class="column is-3">
        Test
    </div>
</div>





<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>