<div class='header'>
Geo-Context and COVID-19 in Missouri
</div>

<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/predictions" routerLinkActive="active" > Predictions</li>
        <li routerLink="/categories" routerLinkActive="active" class='selected'> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
    </ul> 
</div>

<div class="columns">
    <div class="column is-3">
    Test
    </div>
    <div class="column">
        <div id="cat_map" class="cat_map"></div>   

        <div *ngIf='slidertogg'>
            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
        </div>
      
    </div>
    <div class="column is-2">
        <table>
            <tr>
              <th>Model</th>
            </tr>
            <tr>
                <td [class.highlighted]="'yes'==current_mob" (click)="current_mob='yes';updateMap()" >
                    Mobility
                </td>
            </tr>
        <tr>
                <td [class.highlighted]="'no'==current_mob" (click)="current_mob='no';updateMap()">
                    Nonmobility
                </td>
            </tr>
        </table>

        <table>
            <tr>
              <th>Category</th>
            </tr>
            <tr>
                <td [class.highlighted]="'Susceptible'==current_cat" (click)="current_cat='Susceptible';updateMap()" >
                    Susceptible (S)
                </td>
            </tr>
            <tr>
                <td [class.highlighted]="'Asymptomatic infectious'==current_cat" (click)="current_cat='Asymptomatic infectious';updateMap()">
                    Asymptomatic (A)
                </td>
            </tr>
            <tr>
                <td [class.highlighted]="'Symptomatic infectious'==current_cat" (click)="current_cat='Symptomatic infectious';updateMap()">
                    Symptomatic (I)
                </td>
            </tr>
            <tr>
                <td [class.highlighted]="'Recovered'==current_cat" (click)="current_cat='Recovered';updateMap()">
                    Recovered (R)
                </td>
            </tr>
            <tr>
                <td [class.highlighted]="'Deceased'==current_cat" (click)="current_cat='Deceased';updateMap()">
                    Deceased (D)
                </td>
            </tr>
        </table>
    </div>
</div>





<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>