<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/categories" routerLinkActive="active"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
        <li routerLink="/datasources" routerLinkActive="active" > Data Sources</li>
        <li routerLink="/howtouse" routerLinkActive="active" class="selected"> How to use</li>
    </ul> 
</div> 

<div class='main_container'>
    <div class='columns'>
        <div class='column is-3 alignright'>
            <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : models_selected}" (click)="selectButton('model')">Overview</div>
            <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : categories_selected}" (click)="selectButton('categories')" >Risk Categories</div>
            <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : location_selected}" (click)="selectButton('counties')">Counties</div>
        </div>


        <div class="column">

            <div *ngIf="models_selected">

                <div class='columns'>
                    <div class='column'>
                        <img src="../../assets/RiskCategoriesBubbles.png">

                    </div>
                    <div class='column'>
                        Our website provides users with an interactive way to learn about the different risk factors throughout the counties of Missouri. 
                        <div class='tab' style='font-size:0.8rem;'>
                            <span class='bold'>Susceptibility (Individual) Risk:</span> How susceptible an individual in a county might be to COVID-19. The inclusion of known and possible co-morbidities and age breaks were assessed.
                            <br><br><span class='bold'>Transmission (Community) Risk:</span> What the potential transmission risk of COVID-19 within a county might be.  The inclusion of commuting, migration, worker types, group gatherings, and living situation. 
                            <br><br><span class='bold'>Socioeconomic Risk:</span>What might be some socioeconomic / demographic variables that would capture and describe the associated social context risk within that county. The inclusion of race, ethnicity, disability, insurance status, veteran status, and education level.
                            <br><br><span class='bold'>Accessibility Risk:</span> What infrastructure components could be included to provide an assessment of accessibility and establish differences between counties in terms of their access to health options and care. The development and inclusion of various hospital, nursing home, and telehealth access measures as well as broadband metrics.
                            <br><br><span class='bold'>Health Resource Risk:</span> What health resources are available to a county’s population to mitigate and aid in the response to the epidemic. The typical health resource measures included beds, ICU, and professional staffing measures.
                            <br><br><span class='bold'>Exposure Risk:</span>Incorporated existing exposure metrics (cases, testing, deaths) as temporally collected to aid in the development of associations, correlations, and trends.
                    
                        </div>
                    </div>
                </div>
                
               Each category is composed of various risk factors that are ranked from 1-5, based on quantile ranges(0.2 increment).
               The sum of the risk factor ranks, create the <span class='bold'>risk category risk score.</span> 
               Counties are given a final risk score which considers all risk categories (sum of risk category risk scores). The 
               <span class='bold'>county's risk score</span> can be used to look at which areas of Missouri are most at risk.
               <br><br>
               <span class='bold'>County Risk Score=</span>&Sigma; risk category risk scores
               <br>
               <span class='bold'>Risk Cateogry Risk Score=</span>&Sigma; risk factor risk values
               <br>
               <span class='bold'>Risk Factor Risk Value=</span>Risk factor quantile rank
               

    
                   
                
              
                
            </div>




            <div *ngIf="location_selected">
                <div class="type1">How to use the Counties Dashboard</div>
                The “Counties” dashboard allows users to dive-in to different risk 
                categories and learn about the magnitude of risk factors in the 
                individual counties of Missouri.
                <div class='columns'>
                    <div class='column'>
                        <img src="../../assets/Final_countiesdash.png">
                    </div>
                    <div class='column'>
                        <span class='bold'><br>How to navigate dashboard:</span>
                        <div class='indent'>
                            <br><span class='bold'>1)</span>	Select a county 
                            <br><span class='bold'>2)</span>	Select a Risk Category
                            <br><span class='bold'>3)</span>	Click on Risk Factors to geo-spatially visualize 
                        </div>
                        <br>
                        <span class='bold'><br>Features of dashboard:</span>
                        <div class='indent'>
                            <br><span class='bold'>A)</span>	A COVID-19 risk assessment of each county which includes a risk score per category (sum of all risk factor values) and a total risk score (sum of all risk category scores). The wind rose plot reports the proportion of each risk category as compared to the max value of all Missouri counties.
                            <br><span class='bold'>B)</span>	Risk factor bar plot that compares a county’s value to the average and max of all Missouri counties.
                            <br><span class='bold'>C)</span>	A risk factor choropleth map.
                            <br><span class='bold'>D)</span>	COVID-19 weekly Cases and Deaths (updated daily)
                        </div>
                    </div>
                    
                </div>
            </div>
             

            <div *ngIf="categories_selected">
                <div class="type1">How to use the Risk Categories Dashboard</div>
                The “Risk Categories” dashboard lets users create a customized risk assessment by selecting which risk categories they’d like to include in the county risk score. Users can also visualize risk in relation to how urban/rural a county is.
                <div class='columns'>
                    <div class='column'>
                        <img src="../../assets/final_riskcategories.png">
                    </div>
                    <div class='column'>
                        <span class='bold'><br>How to navigate dashboard:</span>
                        <div class='indent'>
                            <br><span class='bold'>1)</span>	Select risk categories to be included in the county risk score
                            <br><span class='bold'>2)</span>    Filter counties based on the rural-urban continuum (rural VS urban)
                            <br><span class='bold'>3)</span>	Highlight a county of interest (optional)
                            <br><span class='bold'>4)</span>	Review filter selections and legend
                        </div>
                        <br>
                        <span class='bold'><br>Features of dashboard:</span>
                        <div class='indent'>
                            <br><span class='bold'>A)</span>	Choropleth map of county risk scores (based on selected risk categories).
                            <br><span class='bold'>B)</span>	B)	Bar plot ordered by highest county risk total (counties that do not fit within filter specifications are not included in this plot).
                        </div>
                    </div>
                    
                </div>
             
  
            
 

            </div>

        </div>



</div>
</div>
<div class='footer'>
    &copy;
</div>