<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/categories" routerLinkActive="active"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" > Counties</li>
        <li routerLink="/datasources" routerLinkActive="active" > Data Sources</li>
        <li routerLink="/howtouse" routerLinkActive="active" class="selected"> How to use</li>
    </ul> 
</div> 

<div class='main_container'>
    <div class='columns'>
        <div class='column is-3 alignright'>
            <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : models_selected}" (click)="selectButton('model')">Overview</div>
            <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : categories_selected}" (click)="selectButton('categories')" >Risk Categories</div>
            <div class='main_button button_blue' [ngClass]="{'main_button1 button_blue_selected' : location_selected}" (click)="selectButton('counties')">Counties</div>
        </div>


        <div class="column">

            <div *ngIf="models_selected">
                Each Missouri county has a risk assessment made up of 6 categories:

                <div class='tab'>
                    <br>
                    <span class='bold'>Susceptibility (Individual) Risk:</span> How susceptible an individual in a county might be to COVID-19. The inclusion of known and possible co-morbidities and age breaks were assessed.
                    <br><br><span class='bold'>Transmission (Community) Risk:</span> What the potential transmission risk of COVID-19 within a county might be.  The inclusion of commuting, migration, worker types, group gatherings, and living situation. 
                    <br><br><span class='bold'>Socioeconomic Risk:</span>What might be some socioeconomic / demographic variables that would capture and describe the associated social context risk within that county. The inclusion of race, ethnicity, disability, insurance status, veteran status, and education level.
                    <br><br><span class='bold'>Accessibility Risk:</span> What infrastructure components could be included to provide an assessment of accessibility and establish differences between counties in terms of their access to health options and care. The development and inclusion of various hospital, nursing home, and telehealth access measures as well as broadband metrics.
                    <br><br><span class='bold'>Health Resource Risk:</span> What health resources are available to a county’s population to mitigate and aid in the response to the epidemic. The typical health resource measures included beds, ICU, and professional staffing measures.
                    <br><br><span class='bold'>Exposure Risk:</span>Incorporated existing exposure metrics (cases, testing, deaths) as temporally collected to aid in the development of associations, correlations, and trends.
                </div>

                <br>
                The risk assessment is represented by the windrose plot below:
                <br>
                <img src="../../assets/riskassessment.png">
                <br>
                Each county will be evaluated and given a risk score for each category. Risk scores are made up of risk values of the risk factors within each category. For example,
                in the Susceptibilty category, there is a risk factor called "Diagnosed Diabetes %". Boone county has 7.8% Diagnosed Diabetes. This value lies within the first quantile of all Missouri counties, thus the risk value = 1.
                Risk values range from 1 to 5.
                <br>
                <br>
                
                Risk Category Score = Sum of risk values of risk factors within category.
                <br>
                Risk values = Quantile 1-5 of risk factor amongst Missouri County Population
                <br>
                Total Risk value = Sum of Risk Category Scores (normalized on a scale of 1-5 on counties dashboard)
            </div>




            <div *ngIf="location_selected">
                <div class="type1">How to use Counties Dashboard</div>
                The Counties Dashboard lets users deep-dive into the risk assessment of each Missouri county. 
                <br>
                <img src="../../assets/howtouse_location.png">
            </div>

            <div *ngIf="categories_selected">
                <div class="type1">How to use Risk Categories Dashboard</div>
                The Risk Categories Dashboard gives a high-level view of risk throughout the counties of Missouri. Users can generate a customized
                risk assessment by selecting different combinations of risk categories. A rural-urban contiuum filter can be applied to visualize
                the relationship between risk and how rural or urban a county is. 
                <br>
                <img src="../../assets/howtouse_categories.png">
            </div>

        </div>



</div>
</div>
<div class='footer'>
    &copy;
</div>