<div id="bkg">
    <ul>
        <li> <img class='mizzou_logo' src="../../assets/mizzoulogo.png" height="50"></li>
        <li style='float:right'><a href="#contact">Contact</a></li>
        <li style='float:right'><a href="#people">People</a></li>
        <li style='float:right'><a href="#publications">Publications</a></li>
        <li style='float:right'><a href="#home"><span class='active'>Home</span></a></li>
   
      </ul>

      <div class='lab_title'>Interdisciplinary Data Analytics & Search Lab</div>
      <div class='lab_desc'>
          Stuff about Lab here
          <br>
          <br>
          <br>

        Hover over the different type of research topics:
          <br>
      </div>
     
      <div class='columns'>
        <div class='column aligncenter'>
            
            <div class='block_headers'>
                Big Data Search
            </div>

       
            <div class='div_centered'>
                <div class="container">
                    <img src="../../assets/example_img1.png" class="image">
                    <div class="overlay">
                        <div class="text">
                            Summary of big data search. Words here. Words here.
                            Words here. Words here. Words here. Words here.
                        </div>
                    </div>
                </div>
            </div>
       


        </div>


        <div class='column aligncenter'>
            <div class='block_headers'>
                Block Chains
            </div>
             
            <div class='div_centered'>
                <div class="container">
                    <img src="../../assets/example_img2.png" class="image">
                    <div class="overlay">
                        <div class="text">
                            Summary of Block Chains. Words here. Words here.
                            Words here. Words here. Words here. Words here.
                        </div>
                    </div>
                </div>
            </div>
       


        </div>


        <div class='column aligncenter'>
            <div class='block_headers'>
                Exploratory Mining
            </div>

            <div class='div_centered'>
                <div class="container">
                    <img src="../../assets/example_img1.png" class="image">
                    <div class="overlay">
                        <div class="text">
                            Summary of exploratory mining. Words here. Words here.
                            Words here. Words here. Words here. Words here.
                        </div>
                    </div>
                </div>
            </div>
       
        </div>


        <div class='column aligncenter'>
            <div class='block_headers'>
                Visual Knowledge Retreivals 
            </div> 

            <div class='div_centered'>
                <div class="container">
                    <img src="../../assets/example_img2.png" class="image">
                    <div class="overlay">
                        <div class="text">
                            Summary of visual knowledge ret. Words here. Words here.
                            Words here. Words here. Words here. Words here.
                        </div>
                    </div>
                </div>
            </div>
       
        </div>

    
    
    </div>


</div>