<div class="backgroundcolor">

    <div class="header">
        <div class='aligncenter'>
            <img src="../../assets/geoarkdata.png" width=700px>
        </div>
    </div>
    <div class="navigation">
        <div class="nav_button nav_selected" routerLink="/geoARKData" routerLinkActive="active">Home</div>
        <div class="nav_button" routerLink="/uploadData" routerLinkActive="active">Upload Data</div>
        <div class="nav_button" routerLink="/upcomingData" routerLinkActive="active">Upcoming</div>
        <div class="nav_button" routerLink="/dbDesign" routerLinkActive="active">Documentation</div>
    </div>

    <div class='main_container' *ngIf="table_togg">
        <i class="mdi mdi-shape-polygon-plus"></i> Add Dataset
        <i class="mdi mdi-account-plus"></i> Assign
        <i class="mdi mdi-pencil"></i> Progress
        <table>
            <tr>
                <th>Dataset</th>
                <th>Data Source</th>
                <th>Source URL</th>
                <th>Discovered</th>
                <th>Assigned</th>
                <th>Start Date</th>
                <th>Selection</th>
                <th>Metadata</th>
                <th>Uploaded</th>
    
            </tr>
            <tr>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
                <td>example</td>
            
            </tr>
            
        </table>

    </div>

    <div class="main_container" *ngIf="!table_togg">
        <div class="uploadblock">
            <div class="main_cont_h2">
                Add New Dataset Discovery
            </div>
            <br>
            <div class="leftalign">Dataset</div>
            <input type="text"   name="dataset">
            <br>
            <div class="leftalign">Data source</div>
            <input  type="text"   name="datasource">
            <br>
            <div class="leftalign">Source URL</div>
            <input  type="text"   name="sourceurl">
            <br>
            <br>
            <button>Add Entry</button>

           


        </div>
    </div>

      
   


 </div>