<div class="backgroundcolor">

    <div class="header">
        <div class='aligncenter'>
            <img src="../../assets/geoarkdata.png" width=700px>
        </div>
    </div>
    <div class="navigation">
        <div class="nav_button nav_selected" routerLink="/geoARKData" routerLinkActive="active">Home</div>
        <div class="nav_button" routerLink="/uploadData" routerLinkActive="active">Upload Data</div>
        <div class="nav_button" routerLink="/upcomingData" routerLinkActive="active">Upcoming</div>
        <div class="nav_button" routerLink="/dbDesign" routerLinkActive="active">Documentation</div>
    </div>

    <div class='columns'>
        <div class='column'>
            <table>
                <tr>
                    <th>Dataset Name</th>
                    <th>Data Source</th>
                    <th>Source URL</th>
                    <th>Discovered</th>
                    <th>Assigned</th>
                    <th>Start Date</th>
                    <th>Selection</th>
                    <th>Metadata</th>
                    <th>Uploaded</th>

                </tr>
                <tr>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
                    <td>example</td>
               
                </tr>
              
            </table>

        </div>
        <div class='column is-4'>
            Add new dataset
            <br>
            Assign dataset
            <br>
            Update Progress
        </div>
    </div>
 </div>