<div class='main_block'>
    <div class='title'>
        Geo-Influence and COVID-19
    </div>

    <div class='sub_title1'>
        At the intersection of GEMS (geospatial, environmental, management 
        <br>
        and socioeconomic) on COVID-19 in Missouri
    </div>
</div>
<div class='whitespace'>
    <div class='sub_title2'>
        Explore Predictions & Simulations:
    </div>
    <div class='main_button button_red'>
        Analysis
    </div>

    <br><br>

    <div class='sub_title2'>
        Explore Existing Data:
    </div>
    <div class='main_button button_blue'>
        Categories
    </div>
    &nbsp; &nbsp;
    <div class='main_button button_orange'>
        Location
    </div>


</div> 

<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>