<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/predictions" routerLinkActive="active"> Predictions</li>
        <li routerLink="/categories" routerLinkActive="active"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" class='selected'> Counties</li>
    </ul> 
</div> 

<div class='main_container'>


    <div class='columns'>

        <div class='column'>
            <div class='columns'>

                <div class='column'>
                    <div id="actual_map" class="actual_map"></div>   
                </div>

                <div class='column'>
                    <div id="model_map" class="model_map"></div>   
                </div>

            </div>
            <div *ngIf='slider_togg'>
                <ng5-slider [(value)]="value" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
            </div>

        </div>
        
        <div class='column is-3'>

        </div>
    </div>





  
</div>


<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>