<div class='header'>
    Geo-Context and COVID-19 in Missouri
</div>
    
<div class='nav_bar'>
    <ul class='tabrow'>
        <li routerLink="/predictions" routerLinkActive="active"> Predictions</li>
        <li routerLink="/categories" routerLinkActive="active"> Risk Categories</li>
        <li routerLink="/counties" routerLinkActive="active" class='selected'> Counties</li>
    </ul> 
</div> 

<div class='main_container'>


    <div class='columns'>

        <div class='column'>
            <div class='columns'>
                <div class='column is-2'></div>

                <div class='column'>
                    <div class='aligncenter'>
                        <span class='type1'>Actual</span>

                        <div *ngIf='covid_category=="covid_cases"'>
                            Covid Cases
                        </div>
                        <div *ngIf='covid_category=="covid_deaths"'>
                            Covid Deaths
                        </div>
                    
                         <div id="actual_map" class="actual_map"></div>   
                    </div>
                </div>

                <div class='column'>
                    <div class='aligncenter'>
                        <span class='type1'>Predicted</span>
                        <br> {{category}}
                        <div id="model_map" class="model_map"></div>   
                    </div>
                </div>

            </div>
            <div *ngIf='slider_togg'>
                <ng5-slider [(value)]="value" [options]="options" (userChange)="onUserChange($event)"></ng5-slider>
            </div>

        </div>
        
        <div class='column is-2'>
            <table>
                <tr>
                  <th>Model</th>
                </tr>
                <tr>
                    <td [class.highlighted]="'yes'==mobility" >
                        Mobility
                    </td>
                </tr>
            <tr>
                    <td [class.highlighted]="'no'==mobility" >
                        Nonmobility
                    </td>
                </tr>
            </table>
    
            <table>
                <tr>
                  <th>Category</th>
                </tr>
                <tr>
                    <td [class.highlighted]="'Susceptible'==category"  >
                        Susceptible (S)
                    </td>
                </tr>
                <tr>
                    <td [class.highlighted]="'Asymptomatic infectious'==category">
                        Asymptomatic (A)
                    </td>
                </tr>
                <tr>
                    <td [class.highlighted]="'Symptomatic infectious'==category" >
                        Symptomatic (I)
                    </td>
                </tr>
                <tr>
                    <td [class.highlighted]="'Recovered'==category" >
                        Recovered (R)
                    </td>
                </tr>
                <tr>
                    <td [class.highlighted]="'Deceased'==category" >
                        Deceased (D)
                    </td>
                </tr>
            </table>

        </div>
    </div>





  
</div>


<div class='footer'>
    How to use this dashboard
    <br>
    Data sources
    <br>
    &copy;
</div>