<div class='header'>
    Geo-Influence and COVID-19 in Missouri
    </div>
    
    <div class='nav_bar'>
        <ul class='tabrow'>
            <li> Predictions</li>
            <li routerLink="/categories" routerLinkActive="active" class='selected'> Categories</li>
            <li> Locations</li>
        </ul> 
    </div>
    
    
    <div class='main'>
        Choose a county:

        <br>
        <!-- {{map}} -->
        <iframe src="../../assets/test.html" width="500" height="500" frameborder="0"></iframe>

        
    </div>
    
    
    
    <div class='footer'>
        How to use this dashboard
        <br>
        Data sources
        <br>
        &copy;
    </div>