<div class='header'>
    Geo-Influence and COVID-19 in Missouri
    </div>
    
    <div class='nav_bar'>
        <ul class='tabrow'>
            <li> Predictions</li>
            <li routerLink="/categories" routerLinkActive="active" class='selected'> Categories</li>
            <li> Locations</li>
        </ul> 
    </div>
    
    
    <div *ngIf="loading_togg">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "false"><p style="color: white" > Building Dashboard... </p></ngx-spinner>
    </div>
    
    <div class="columns">
    
    
        <div class="column is-2"> <!-- left margin column --></div>
    
    
        <div class="column main">
    
    
                <div class="columns">
                    <div class="column">
              
                    
                        <div id="map" class="map"></div>   
    
                        <div class="columns">
                            <div class="column is-2">
                                <br>
                                <div *ngIf="slider_togg">
                                    
                                    <span class="animation_button" [class.animation_button_selected]="play_selected" (click)='playSlider()'><i class="mdi mdi-play"></i> </span>
                                    <span class="animation_button" (click)='stopSlider()'><i class="mdi mdi-stop"></i> </span>

                                </div>
                            </div>
                            <div class="column">
                              
                                 <ng5-slider [(value)]="value" [options]="options" *ngIf="slider_togg" (userChange)="onUserChange($event)"></ng5-slider>
                     
                            </div>
                        </div>
    
                    </div>
                    <div class="column">
                
                        <table *ngIf="!temp_togg1">
                            <tr>
                              <th>Category</th>
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <select id="category_dropdown" name="category">
                                            <option value="cat5" selected>Exposure</option>
                                            <option value="cat1">Susceptibility</option>
                                            <option value="cat2">Transmission</option>
                                            <option value="cat3">Socioeconomic</option>
                                            <option value="cat4">Transmission</option>
                                            <option value="cat6">Accessibility</option>
                                            <option value="cat7">Health resources</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        </table>

                        <table *ngIf="!temp_togg1">
                            <tr>
                              <th>Sub-Category</th>
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <select id="subcategory_dropdown" name="subcat">
                                            <option value="subcat1" selected>COVID-19 Cases</option>
                                            <option value="subcat2">COVID-19 Deaths</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        </table>




                        <table *ngIf="temp_togg1">
                            <tr>
                              <th>Category</th>
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <select id="category_dropdown" name="category">
                                            <option value="cat5">Exposure</option>
                                            <option value="cat1" selected>Susceptibility</option>
                                            <option value="cat2">Transmission</option>
                                            <option value="cat3">Socioeconomic</option>
                                            <option value="cat4">Transmission</option>
                                            <option value="cat6">Accessibility</option>
                                            <option value="cat7">Health resources</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        </table>

                        <table *ngIf="temp_togg1">
                            <tr>
                              <th>Sub-Category</th>
                            </tr>
                            <tr>
                                <td>
                                    <form>
                                        <select id="subcategory_dropdown" name="subcat">
                                            <option value="subcat1" selected>Diabetes</option>
                                            <option value="subcat2">Obesity</option>
                                            <option value="subcat2">Blood pressure medication nonadherence</option>
                                            <option value="subcat2">Insurance</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        </table>


                        <table *ngIf="temp_togg1">
                            <tr>
                              <th>Data</th>
                            </tr>
                            <tr *ngFor="let data of legend;let i = index">
                              <td [class.data_selected]="data.attr_label==data_selected" (click)="changeDataset(i)">{{data.attr_desc}}</td>
                            </tr>
                        </table>
                        
                        <table *ngIf="!temp_togg1">
                            <tr>
                              <th>Data</th>
                            </tr>
                            <tr class="data_selected">
                              COVID 19 Cases per County
                            </tr>
                            <tr>

                            </tr>
                        </table>
                        
                        <table>
                            <tr>
                              <th>Filters</th>
                            </tr>
                            <tr>
                              <td>              
                                  <form>
                                    <select id="county drop down" name="county">
                                        <option value="default" selected>By County</option>
                                        <option value="county1">County 1</option>
                                        <option value="county2">County 2</option>
                            
                                    </select>
                                </form>
                            </td>
                            </tr>
                        </table>
    
                        <table>
                            <tr>
                              <th>Parameters</th>
                            </tr>
                            <tr>
                              <td> # Bins: </td>
                            </tr>
                        </table>
                    </div>
                </div>
    
    
    
    
        </div>
    
    
    
        <div class="column is-2"> <!-- right margin column --> </div>
    </div>
    
    
        
    
    
    
    
    <div class='footer'>
        How to use this dashboard
        <br>
        Data sources
        <br>
        &copy;
    </div>