<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Part 1 : Counties
    </div>
</div>
<div class='body'>
    The Counties Dashboard lets users deep-dive into the risk assessment of each Missouri county. The risk assessment looks at risk factors in 6 categories:

    <div class='tab'>
        <br>
        <span class='bold'>Susceptibility (Individual) Risk:</span> How susceptible an individual in a county might be to COVID-19. The inclusion of known and possible co-morbidities and age breaks were assessed.
        <br><br><span class='bold'>Transmission (Community) Risk:</span> What the potential transmission risk of COVID-19 within a county might be.  The inclusion of commuting, migration, worker types, group gatherings, and living situation. 
        <br><br><span class='bold'>Socioeconomic Risk:</span>What might be some socioeconomic / demographic variables that would capture and describe the associated social context risk within that county. The inclusion of race, ethnicity, disability, insurance status, veteran status, and education level.
        <br><br><span class='bold'>Accessibility Risk:</span> What infrastructure components could be included to provide an assessment of accessibility and establish differences between counties in terms of their access to health options and care. The development and inclusion of various hospital, nursing home, and telehealth access measures as well as broadband metrics.
        <br><br><span class='bold'>Health Resource Risk:</span> What health resources are available to a county’s population to mitigate and aid in the response to the epidemic. The typical health resource measures included beds, ICU, and professional staffing measures.
        <br><br><span class='bold'>Exposure Risk:</span>Incorporated existing exposure metrics (cases, testing, deaths) as temporally collected to aid in the development of associations, correlations, and trends.
    </div>

    <div class='aligncenter'>
        <img src="../../assets/howtouse_location.png">
    </div>

    <div class='aligncenter'>
        <button class="main_button button_red" (click)='startPart1()'>Start Part 1: Task Analysis</button>
    </div>

</div>


