<div class='header'> 
    Geo-Context and COVID-19 in Missouri 
    <div class='subheader'>
        Part 1 : Counties
    </div>
</div>
<div class='body'>
    The “Counties” dashboard allows users to dive-in to different risk 
    categories and learn about the magnitude of risk factors in the 
    individual counties of Missouri.

    <div class='columns'>
        <div class='column'>
            <img src="../../assets/Final_countiesdash.png">
        </div>
        <div class='column'>
            <span class='bold'><br>How to navigate dashboard:</span>
            <div class='indent'>
                <br><span class='bold'>1)</span>	Select a county 
                <br><span class='bold'>2)</span>	Select a Risk Category
                <br><span class='bold'>3)</span>	Click on Risk Factors to geo-spatially visualize 
            </div>
            <br>
            <span class='bold'><br>Features of dashboard:</span>
            <div class='indent'>
                <br><span class='bold'>A)</span>	A COVID-19 risk assessment of each county which includes a risk score per category (sum of all risk factor values) and a total risk score (sum of all risk category scores). The wind rose plot reports the proportion of each risk category as compared to the max value of all Missouri counties.
                <br><span class='bold'>B)</span>	Risk factor bar plot that compares a county’s value to the average and max of all Missouri counties.
                <br><span class='bold'>C)</span>	A risk factor choropleth map.
                <br><span class='bold'>D)</span>	COVID-19 weekly Cases and Deaths (updated daily)
            </div>
        </div>
        
    </div>

    <div class='aligncenter'>
        <button class="main_button button_red" (click)='startPart1()'>Start Part 1: Task Analysis</button>
    </div>

</div>


